<form method="post" action="{{ path('app_admin_position_delete', {'id': user.id, 'id_position': position.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette position ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ position.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
