{% extends 'admin.html.twig' %}

{% block title %}Position{% endblock %}

{% block body %}
    <h1>Modifier la position {{ position.title }}</h1>

    {{ include('admin_position/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_position_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_position/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
