{% extends 'admin.html.twig' %}

{% block title %}Positions{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-10">
            <h1>Liste des Positions</h1>
        </div>
        <div class="col col-2">
            {% if is_granted('ROLE_PROF') %}
            <a class="btn btn-primary" href="{{ path('app_admin_position_new') }}">Ajouter</a>
            {% endif %}
        </div>
    </div>
    <div class="col col-12 ">
        <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
           <tr>
                <th>Position</th>
                <th>Cours</th>
                <th>Membre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            <tr>
                <td>{{ position.position }}</td>
                <td>{{ position.cours.title }}</td>
                <td>{{ position.user.lastname }} {{ position.user.firstname }}</td>
                <td>
                        <a href="{{ path('app_admin_position_show', {'id': position.id}) }}">Voir</a>
                        {% if is_granted('ROLE_PROF') %}
                        <a href="{{ path('app_admin_position_edit', {'id': position.id}) }}">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune donnée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
</div>    

{% endblock %}
