{% extends 'admin.html.twig' %}

{% block title %}Position{% endblock %}

{% block body %}
    <h1>Position</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Position</th>
                <td>{{ position.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_position_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
        <a href="{{ path('app_admin_position_edit', {'id': position.id}) }}">Modifier</a>
    {% endif %}

{% endblock %}
