<form method="post" action="{{ path('app_admin_description_delete', {'id': description.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette description ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ description.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
