{% extends 'admin.html.twig' %}

{% block title %}Description{% endblock %}

{% block body %}
    <h1>Modifier Description</h1>

    {{ include('admin_description/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_description_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_description/_delete_form.html.twig') }}
    {% endif %}{% endblock %}
