{% extends 'admin.html.twig' %}

{% block title %}Descriptions{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-10">
            <h1>Liste des Descriptions</h1>
        </div>
        <div class="col col-2">
            {% if is_granted('ROLE_PROF') %}
            <a class="btn btn-primary" href="{{ path('app_admin_description_new') }}">Ajouter</a>
            {% endif %}
        </div>
    </div>
    <div class="col col-12 ">
        <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
        <thead>
            <tr>
                <th>Section</th>
                <th>Compte</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for description in descriptions %}
            <tr>
                <td>{{ description.section.title }}</td>
                <td>{{ description.compte.title }}</td>
                <td>{{ description.description }}</td>
                <td>
                    <a href="{{ path('app_admin_description_show', {'id': description.id}) }}">Voir</a>
                    {% if is_granted('ROLE_PROF') %}
                    <a href="{{ path('app_admin_description_edit', {'id': description.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>    
</div>    

{% endblock %}

