{% extends 'admin.html.twig' %}

{% block title %}Description{% endblock %}

{% block body %}
    <h1>Description</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ description.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ description.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_description_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_description_edit', {'id': description.id}) }}">Modifier</a>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_description/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
