<form method="post" action="{{ path('app_admin_section_delete', {'id': section.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette section ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
