{% extends 'admin.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}
    <h1>Modifier la section {{ section.title }}</h1>

    {{ include('admin_section/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_section_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_section/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
