{% extends 'admin.html.twig' %}

{% block title %}Section {% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-10">
            <h1>Liste des Sections</h1>
        </div>
        <div class="col col-2">
            {% if is_granted('ROLE_PROF') %}
            <a class="btn btn-primary" href="{{ path('app_admin_section_new') }}">Ajouter</a>
            {% endif %}
        </div>
    </div>
    <div class="col col-12 ">
        <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Comptes</th>
                    <th>Descriptions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.title }}</td>
                    {% for description in descriptions %}
                    <td>{{ description.compte.title}}</td>
                    <td>{{ description.description}}</td>
                    {% endfor %}
                    <td>
                        {% if is_granted('ROLE_PROF') %}
                        <a class="btn btn-primary" href="{{ path('app_admin_section_description_new', {'id': section.id}) }}">Ajouter une description</a>
                        {% endif %}
                        <a href="{{ path('app_admin_section_show', {'id': section.id}) }}">Voir</a>
                        {% if is_granted('ROLE_PROF') %}
                        <a href="{{ path('app_admin_section_edit', {'id': section.id}) }}">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune donnée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
</div>    

{% endblock %}
