{% extends 'admin.html.twig' %}

{% block title %}Liste des positions {% endblock %}

{% block body %}
    <h1>Liste des descriptions pour {{ section.choregraphie.title }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Compte</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for description in section.description %}
            <tr>
                <td>{{ description.compte }}</td>                
                <td>{{ description.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            {% if is_granted('ROLE_PROF') %}
            <a class="btn btn-primary" href="{{ path('app_admin_section_description_new') }}">Ajouter</a>
            {% endif %}
{% endblock %}
