{% extends 'admin.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}
    <h1>Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ section.title }}</td>
            </tr>
            <tr>
                <th>Compte</th>
                <td>{% for compte in section.compte %}
                {{ section.compte.title }}
                {% endfor %}</td>
            <tr>
                <th>Description</th>
                <td>{% for description in section.descritpions %}
                {{ section.compte.title }}
                {% endfor %}</td>
            </tr>  
        </tbody>
    </table>

    <a href="{{ path('app_admin_section_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_section_edit', {'id': section.id}) }}">Voir</a>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_section/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
