<form method="post" action="{{ path('app_admin_cours_delete', {'id': cours.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce cours ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cours.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
