{% extends 'admin.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Modifier la Cours {{ cours.title }}</h1>

    {{ include('admin_cours/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_cours_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_cours/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
