{% extends 'admin.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cours.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ cours.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_cours_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_cours_edit', {'id': cours.id}) }}">Modifier</a>
    {% endif %}    
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_cours/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
