@import "~bootstrap";

$fondGrey : #e8e8e8;
$fondGreyEspace : #776C76;
$roseTitre : #ff20db;
$fondPink :lighten($roseTitre, 20%);
$fondPinkLight : lighten($roseTitre, 40%);
$greyTexte : #323132;
$roseLien: lighten($roseTitre, 20%);

@font-face {
    font-family: barlow;
    src: url("../font/fontBarlow/Barlow-Regular.ttf");
}

@font-face {
    font-family: lemonada;
    src: url("../font/fontLemonada/Lemonada-VariableFont_wght.ttf");
}

a{
    color:$roseTitre;
    &:hover{
        text-decoration: underline;
        color:$greyTexte;
    }
}

body {
    display:flex;
    flex-direction: column;
    background: url('../media/fond-dazzleology-pixabay.jpg') fixed ;
    background-size: 100vw 100vh;
    background-repeat:   no-repeat;
    background-position: center center;

    /*********HEADER**********/
    header {
        flex:1 1 1000%;
        display: flex;
        flex-direction: row;
        background-color: $fondGrey;
        height: 12vh;

        .logoA8D {
            flex: 0 0 5%;
            padding-left:5%;
            width: auto;
            height: 12vh;
        }

        h1 {
            flex: 0 1 75%;
            align-self: center;
            font-family: lemonada;
            font-size: 1.9vw;
            text-align: center;
            color: $roseTitre;

            a {
                color: $roseTitre;

                span {
                    font-style: italic;
                }
            }
        }
        i {
            flex: 0 0 5%;
            visibility: hidden;
        }
        h3 {
            flex: 0 0 5%;
            align-self: center;
            font-family: lemonada;
            font-size: 1.2vw;
            text-align: center;
            color: $roseTitre;

            a {
                color: $roseTitre;

                span {
                    font-style: italic;
                }
            }
        }
    }

    /************aside*********/
    aside {
        background-color: $fondGrey;

        nav {
            align-items: center;
            font-family: barlow;
            ul{
                padding:15vh;
                li{
                    font-size: larger;
                    a {
                        color: $roseTitre;
                        font-family: lemonada;
                        text-align: center;
                    }
                }
                ul{
                    padding-top: 5vh;
                    li{
                        height:8vh;
                        padding-top: 10vh;
                        a {
                            text-decoration: underline;

                            text-align: end;    
                            i{
                                color: $roseTitre;
                                font-size: larger;
                                font-family: lemonada;
                            }
                            &:hover{
                                box-shadow: 0 0 20px $roseTitre;
                                background-color: $fondPink;
                                border-radius: 5px;
                                border: none;
                                height: 5vh;
                                font-family: barlow;
                                font-size: 1em;
                                }
                        }
                    }
                }
            }


        }
    }

    /************main*********/
    // main{
    //     background-image: url('.\media/fond-dazzleology-pixabay.jpg');
    // }
    /******FOOTER*******/
    footer { 
        flex:1 1 1000%;
        position: fixe;
        bottom: 0;
        background-color: $fondGrey ;
        display: flex;
        justify-content: space-around;
        padding: 15px;
        font-family: Barlow;

        .menuFooter1 {
            flex: 0 0 10%;
            font-size: 14px;
        }

        .menuFooter2 {
            flex: 0 0 10%;
            font-size: 14px;
        }

        .reso {
            flex: 0 0 40%;
            font-size: 18px;
            text-align: center;
        }

        .menuFooter3 {
            flex: 0 0 20%;
            font-size: 14px;
        }
    }
}



/**************************/
/*******media query*******/
/**************************/


/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 490px*/
@media screen and (max-width: 490px) {
    body {
        header {
            h1 {
                flex: 0 0 35%;
                align-self: center;
                font-family: lemonada;
                font-size: 5vw;
                text-align: center;
                color: $roseTitre;

                a {
                    color: $roseTitre;

                    span {
                        font-style: italic;
                    }
                }
            }

            nav {
                flex: 0 0 10%;

                ul {
                    display: none;
                }

                i {
                    visibility: visible;
                    font-size: 12vw;
                }
            }

            button {
                flex: 0 0 5%;
                height: 8vh;
                align-self: center;

                a {
                    font-size: 4vw;
                }
            }
        }

        /************main*********/
        main {

            /**** content de la page Accueil/présentation ****/
            .content {
                grid-template-columns: 1fr 7fr 1fr;
                grid-template-rows: 20px repeat(5, 10vh) 20px repeat(3, 10vh) 20px repeat(3, 6vh) 20px repeat(3, 10vh) 20px;

                h2 {
                    grid-area: 2/2/3/3;
                }

                .presentationDanses {
                    grid-area: 7/2/10/3;
                    font-size: 4vw;
                }

                .imgAccueil {
                    grid-area: 3/2/6/3;
                }

                .presentationMoi {
                    grid-area: 15/2/18/3;
                    font-size: 4vw;
                }

                .citation {
                    grid-area: 11/2/14/3;

                    figure {
                        blockquote {
                            line-height: 1;

                            .quoteTop {
                                width: 10%;
                            }

                            .citationParagraphes {
                                font-size: 4vw;
                            }

                            .quoteBottom {
                                width: 10%;
                            }
                        }

                        figcaption {
                            font-size: 4vw;

                            cite {
                                font-size: 4vw;
                            }
                        }
                    }
                }
            }

            .danses {
                grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
                grid-template-rows: 0.2fr repeat(3, 1fr 0.2fr);

                .rockDanse {
                    grid-area: 2/2/3/3;
                }

                .chachaDanse {
                    grid-area: 2/4/3/5;
                }

                .salsaDanse {
                    grid-area: 4/2/5/3;
                }

                .rumbaDanse {
                    grid-area: 4/4/5/5;
                }

                .passoDanse {
                    grid-area: 6/2/7/3;
                }

                .groupeDanse {
                    grid-area: 6/4/7/5;
                }
            }

            /**** content de la page Association ****/
            .contentAssociation {
                grid-template-columns: 1fr 7fr 1fr;
                grid-template-rows: 20px repeat(5, 10vh) 20px repeat(3, 10vh) 20px;

                h2 {
                    grid-area: 2/2/3/3;
                }

                .imgAccueil {
                    grid-area: 3/2/6/3;
                }

                .presentationDanses {
                    grid-area: 7/2/10/3;
                    font-size: 14px;
                }
            }

            /**** content de la page Danses ****/



            /**** content de la page Contact ****/
            .sectionContact {
                display: flex;
                flex-direction: column;

                h2 {
                    padding-top: 2%;
                }

                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 10px;
                    padding: 3%;

                    h4 {
                        font-size: 0.8em;
                    }

                    .adresse {
                        align-self: flex-start;
                        column-gap: 20px;
                    }

                    .tel {
                        display: flex;
                        flex-flow: row wrap;
                        gap: 20px;

                        .telProf {
                            flex: 0 0 50%;
                            display: flex;
                            flex-flow: row wrap;
                            column-gap: 5px;

                        }

                        .telPresident {
                            flex: 0 0 80%;
                            display: flex;
                            flex-flow: row wrap;
                            column-gap: 5px;

                        }
                    }
                }

                .formContact {
                    padding-left: 3%;
                }
            }


        }

        /******FOOTER*******/
        footer {
            .menuFooter1 {
                font-size: 11px;
            }

            .menuFooter2 {
                font-size: 11px;
            }

            .reso {
                font-size: 14px;
            }

            .menuFooter3 {
                font-size: 10px;
            }
        }
    }
}

/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 490px*/
@media screen and (max-width: 900px) and (min-width: 480px) {
    body {
        header {
            justify-content: space-between;
            nav {
                flex: 0 0 10%;
                ul {
                    display: none;
                }

                i {
                    visibility: visible;
                    font-size: 50px;
                }
            }

            button {
                flex: 0 0 5%;
                height: 8vh;
                align-self: center;

                a {
                    font-size: 1em;
                }
            }
        }
        main {
    
            /******* main de la Page Présentation ****/
    
            .content {
   
                .presentationDanses {
                    font-size: 2.4vw;
                }
    
  
                .presentationMoi {
                    font-size: 2.4vw;
                }
    
                .citation {
    
                    figure {
                        blockquote {
    
    
                            .citationParagraphes {
                                font-size: 2.4vw;
                            }
    
                        }
    
                        figcaption {
    
                            cite {
                                font-size: 2vw;
                            }
                        }
                    }
                }
            }
        }
    }
}


//Pour modifier l'apparence d'un bouton
.select{
    box-shadow: 0 0 20px $greyTexte !important; 
    background-color: $fondGrey !important;
}