$fondGrey : #e8e8e8;
$fondGreyEspace : #776C76;
$roseTitre : #ff20db;
$fondPink :lighten($roseTitre, 20%);
$fondPinkLight : lighten($roseTitre, 40%);
$greyTexte : #323132;
$roseLien: lighten($roseTitre, 20%);

@font-face {
    font-family: barlow;
    src: url("../font/fontBarlow/Barlow-Regular.ttf");
}

@font-face {
    font-family: lemonada;
    src: url("../font/fontLemonada/Lemonada-VariableFont_wght.ttf");
}



//Animation translation
.translationLeft{
    animation:slideInFromLeft 0.5s ease-out;
}
@keyframes slideInFromLeft{
	from { transform:translateX(-100%); }
	to { transform:translateX(0); }
}

.translationRight{
    transform:translateX(-100%);
    animation:slideInFromRight 0.5s ease-out;
}
@keyframes slideInFromRight{
	from { transform:translateX(0); }
	to { transform:translateX(-100%); }
}

// /* LIEN EN SAVOIR PLUS */
// .home article a:hover{
// 	animation:wriggle 0.5s linear; 
// 	text-decoration:underline;
// }

// @keyframes wriggle{
// 	0%,100%{ transform:translateX(0) }
// 	25%,75%{ transform:translateX(-10px) }
// 	50%{ transform:translateX(10px) }
// }

body {

    /*********HEADER**********/
    header {
        display: flex;
        flex-direction: row;
        background-color: $fondGrey;
        height: 12vh;

        .logoA8D {
            margin: 0.5%;
            width: auto;
            height: 12vh;
        }

        h1 {
            flex: 0 0 20%;
            align-self: center;
            font-family: lemonada;
            font-size: 1.9vw;
            text-align: center;
            color: $roseTitre;

            a {
                color: $roseTitre;

                span {
                    font-style: italic;
                }
            }
        }

        nav {
            flex: 0 0 60%;
            color: $fondPink;
            font-family: barlow;
            font-size: 1.4vw;
            align-self: center;
            margin: auto 20px;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin : 2%;

                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: space-around;
                    padding: 5px;
                    background-color: $roseTitre;
                    color: white;
                    text-align: center;
                    border-radius: 5px;

                    a {
                        color: white;
                    }
                }
            }
        }
        i {
                visibility: hidden;
            }
    }
    /************main*********/
    main {
        display: flex;
        flex-flow: column nowrap;

        /******* main de la Page Présentation ****/

        .content {
            display: grid;
            grid-template-columns: auto repeat(5, 9vw) 20px repeat(5, 9vw) auto;
            grid-template-rows: 20px repeat(4, 10vh) 20px repeat(3, 10vh) 20px;

            h2 {
                grid-area: 2/2/3/13;
                font-family: lemonada;
                font-size: 3vw;
                text-align: center;
                color: $roseTitre;
                align-self: center;
            }

            .presentationDanses {
                grid-area: 3/8/6/13;
                font-family: barlow;
                font-size: 1.2vw;
                text-align: justify;
                line-height: 1.5;
                align-self: center;
            }

            .imgAccueil {
                grid-area: 3/2/6/7;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .presentationMoi {
                grid-area: 7/2/11/7;
                font-family: barlow;
                font-size: 1.2vw;
                line-height: 1.5;
                text-align: justify;
                align-self: center;
            }

            .citation {
                grid-area: 7/8/11/13;
                font-family: barlow;
                padding: 2%;
                align-self: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                figure {
                    blockquote {
                        display: flex;
                        flex-direction: row;
                        border: dotted;
                        border-color: $roseTitre;
                        border-width: 10px 4px;
                        border-radius: 10px 40px;
                        font-family: lemonada;
                        font-style: italic;
                        line-height: 1.5;
                        text-align: center;
                        color: $greyTexte;
                        padding: 5%;

                        .quoteTop {
                            width: 12%;
                            align-self: flex-start;
                        }

                        .citationParagraphes {
                            display: flex;
                            flex-direction: column;
                            font-size: 1em;
                        }

                        .quoteBottom {
                            width: 12%;
                            align-self: flex-end;
                        }
                    }

                    figcaption {
                        text-align: right;

                        cite {
                            color: $fondGreyEspace;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    

        /******* main de la Page Association ****/

        .contentAssociation {
            display: grid;
            grid-template-columns: auto repeat(5, 9vw) 20px repeat(5, 9vw) auto;
            grid-template-rows: 20px 10vh repeat(4, 10vh) 20px repeat(5, 10vh) 20px;

            h2 {
                grid-area: 2/2/3/13;
                font-family: lemonada;
                font-size: 3vw;
                text-align: center;
                color: $roseTitre;
                align-self: center;
            }

            .presentationAssociation {
                grid-area: 3/8/7/13;
                font-family: barlow;
                font-size: 18px;
                text-align: justify;
                line-height: 1.5;
                align-self: center;

                h3 {
                    font-family: lemonada;
                    font-size: 1em;
                    text-align: center;
                    color: $roseTitre;
                    align-self: center;
                }
            }

            .imgAssociation {
                grid-area: 3/2/7/7;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .presentationAdhérent {
                grid-area: 8/2/11/13;
                font-family: barlow;
                font-size: 18px;
                line-height: 1.5;
                text-align: justify;
                align-self: center;

            }

        }

        /******* main de la Page Danses ****/
        /******section menu d'accès au danses dans le main******/
        .danses {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .rockDanse,
            .chachaDanse,
            .salsaDanse,
            .rumbaDanse,
            .pasoDanse,
            .groupeDanse {
                a{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 0.2fr 1fr;

                    h4 {
                        grid-area: 2/1/3/2;
                        color: $roseTitre;
                        background-color: $fondGrey;
                        z-index: 3;
                        width: 100%;
                        opacity: 60%;
                        text-align: center;
                        font-weight: 900;
                        font-family: lemonada;

                    }

                    img {
                        grid-area: 1/1/4/2;
                        text-align: center;
                        width: 100%;
                        height: 20vh;
                    }
                }
            }
        }
        .contentDanses {
            display: grid;
            grid-template-columns: auto repeat(5, 9vw) 20px repeat(5, 9vw) auto;
            grid-template-rows: 20px repeat(5, 10vh) 20px repeat(5, 10vh) 20px;

            h2 {
                grid-area: 2/2/3/13;
                font-family: lemonada;
                font-size: 3vw;
                text-align: center;
                color: $roseTitre;
                align-self: center;
            }

            .dansesDuoPresentation {
                grid-area: 3/8/7/13;
                font-family: barlow;
                font-size: 18px;
                text-align: justify;
                line-height: 1.5;
                align-self: center;

                h3 {
                    font-family: lemonada;
                    font-size: 1em;
                    text-align: center;
                    color: $roseTitre;
                    align-self: center;
                }
            }

            .imgDansesDuo {
                grid-area: 3/2/7/7;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .dansesGroupePrésentation {
                grid-area: 8/2/12/7;
                font-family: barlow;
                font-size: 18px;
                line-height: 1.5;
                text-align: justify;
                align-self: center;

                h3 {
                    font-family: lemonada;
                    font-size: 1em;
                    text-align: center;
                    color: $roseTitre;
                    align-self: center;
                }
            }

            .imgDansesGroupe {
                grid-area: 8/8/12/13;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .contentRock,
        .contentChacha,
        .contentSalsa,
        .contentRumba,
        .contentPaso{
            display: grid;
            grid-template-columns: 20px 1fr 20px 1fr 20px;
            grid-template-rows: 20px repeat(4, 1fr) 20px ;

            h2 {
                grid-area: 2/2/3/5;
                font-family: lemonada;
                font-size: 1.4em;
                text-align: center;
                color: $roseTitre;
                align-self: center;
            }
            .dansesHistoire{
                grid-area: 3/2/5/3;
                align-self: center;
                p{
                    font-family: barlow;
                    font-size: 16px;
                    line-height: 1.5;
                    text-align: justify;
                    margin : 2%;
    
                }
            }
            .dansesPasBaseMenu{
                grid-area: 3/4/5/5;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:10%;
                .buttonPasBase{
                    box-shadow: 0 0 20px $roseTitre;
                    background-color: $fondPink;
                    font-family: barlow;
                    font-size: 16px;
                    border-radius: 5px;
                    border: none;
                    height: 5vh;
                    width:50%;

                }
            }
            
            .dansesPasBase{
                grid-area: 3/4/8/5;
                display: flex;
                flex-direction:column;
                .descriptionPasbase{
                    align-self: center;
                    p{
                        font-family: barlow;
                        font-size: 16px;
                        line-height: 1.5;
                        text-align: justify;
                        margin : 2%;
                    } 
                    ul{
                        li{
                            margin-left: 10%;
                            list-style-type: circle;
                            font-family: barlow;
                            font-size: 16px;
                            line-height: 1.5;
                            text-align: justify;
                        }
                    }
                }
                .videoPasBase{
                    width:90%;
                    video{
                        width:50vw;
                    }
                }
            }
        }
        .contentGroupe{
            
        }

        /******* main de la Page Evenement ****/
        .contentEvent{
            display: flex;
            flex-direction: column;
            h2{
                font-family: lemonada;
                font-size: 3vw;
                text-align: center;
                color: $roseTitre;
                align-self: center;
                margin: 2%;
            }
            .row{
                display:flex;
                flex-flow: row wrap;
                justify-content: space-around;
                .event{
                    flex:0 0 30%;
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    margin:1%;
                    column-gap:4%;
                    border:$roseTitre 2px solid;
                    border-radius: 5%;
                    background-color: lighten($fondGrey, 0.5);

                    .affiche{
                        flex:0 0 30%;
                        display:flex;
                        flex-direction:column;
                        img{
                            margin:3%;
                            width:200px;
                            height:250px;
                        }
                        legend{
                            font-family: barlow;
                            font-size: 0.8em;
                            text-align: center;
                            align-self: center 
                        }
                    }
                    .afficheText{
                        display:flex;
                        flex-direction: column;
                        justify-content:space-around;
                        h3{
                            font-family: lemonada;
                            font-size: 1.4em;
                            text-align: center;
                            color: $roseTitre;
                            align-self: center;
                        }
                        h5 {
                            font-family: barlow;
                            font-size: 1.2em;
                            text-align: center;
                            align-self: center;
    
                        }                    
                        h6 {
                            font-family: barlow;
                            font-size: 1em;
                            text-align: center;
                            align-self: center;
    
                        }
                        p{
                            font-family: barlow;
                            font-size: 0.8em;
                            text-align: justify;
                            align-self: center;
                            width:100%;
                        }
                    }
                }
            }
        }

        /******* main de la Page Contact ****/

        .sectionContact {
            display: grid;
            grid-template-columns: 1fr repeat(2, 5fr 1fr);
            grid-template-rows: 20px 10vh 60vh 10vh 20px;

            h2 {
                grid-area: 2/2/3/5;
                font-family: lemonada;
                font-size: 3vw;
                text-align: center;
                color: $roseTitre;
                align-self: center;
            }

            .contact {
                grid-area: 3/2/4/3;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .carte {
                    flex: 0 0 45%;
                    margin: 5%;
                    width: 90%;
                }

                h4 {
                    flex: 0 0 10%;
                    width: 60%;
                    font-family: lemonada;
                    font-size: 1em;
                    color: $roseTitre;
                    align-self: center;
                    justify-self: center;

                }

                .adresse {
                    flex: 0 0 10%;
                    display: flex;

                    .icon-map {
                        font-size: 1.1em;
                        color: $roseTitre;
                        padding-right: 10px;
                    }

                    p {
                        font-family: barlow;
                        font-size: 1.1em;

                    }
                }

                .tel {
                    flex: 0 0 25%;
                    display: flex;

                    .icon-phone {
                        flex: 0 0 5%;
                        font-size: 1.1em;
                        color: $roseTitre;
                        padding-right: 10px;

                    }
                }

                .telProf {
                    flex: 0 0 40%;

                    p {
                        font-family: barlow;
                        font-size: 1em;

                        a {
                            color: $roseLien;
                            font-family: barlow;
                            font-size: 0.8em;

                        }
                    }
                }

                .telPresident {
                    flex: 0 0 45%;

                    p {
                        font-family: barlow;
                        font-size: 1em;

                        a {
                            color: $roseLien;
                            font-family: barlow;
                            font-size: 0.8em;

                        }
                    }

                }
            }


            .formContact {
                grid-area: 3/4/4/5;
                width: 90%;
                display: flex;
                box-sizing: content-box;
                flex: column nowrap;

                fieldset {
                    border: $roseLien solid 2px;
                    border-radius: 10%;
                    max-width: 500px;
                    padding: 5%;
                    width: 100%;
                    display: flex;
                    box-sizing: content-box;
                    flex-flow: column nowrap;

                    legend {
                        font-family: barlow;
                        font-size: 1.1em;
                        color: $roseTitre;
                        padding: 5%;
                    }

                    .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-bottom: 1%;
                        gap: 2%;
                        flex: 1 1;
                        width: 100%;

                        input {
                            margin-bottom: 2%;
                            width: 70%;
                            font-family: barlow;
                            font-size: 0.8em;

                        }

                        label {
                            font-family: barlow;
                            font-size: 1em;
                        }

                        .message {
                            font-family: barlow;
                            font-size: 0.8em;
                            width: 70%;
                        }

                    }

                    .row:last-child {
                        display: flex;
                        flex-direction: row;
                        justify-content: end;

                        .buttonSubmit,
                        .buttonReset {
                            box-shadow: 0 0 20px $roseTitre;
                            background-color: $fondPink;
                            border-radius: 5px;
                            border: none;
                            height: 5vh;
                        }


                    }
                }
            }
        }

        /******* main de la Page d'inscrition ****/
        .sectionInscription {
            display: flex;
            flex-direction: column;

            h2 {
                font-family: lemonada;
                font-size: 3vw;
                text-align: center;
                color: $roseTitre;
                align-self: center;
                padding-top: 20px;
            }

            .formInscritpion {
                fieldset {
                    border: $roseLien solid 3px;
                    border-radius: 10%;
                    margin: 3%;
                    display: flex;
                    flex-direction: column;
                    background-color: $fondGrey;

                    legend {
                        font-family: barlow;
                        font-size: 1.1em;
                        color: $roseTitre;
                        padding: 2% 10%;
                    }

                    .textInscription {
                        display: flex;
                        flex-direction: column;
                        margin: 2%;

                        div {
                            font-family: barlow;
                            font-size: 0.8em;
                            line-height: 1.5;
                            align-self: center;

                            span {
                                font-size: 1em;
                                font-weight: 700;
                            }

                            ul {
                                display: flex;

                                li {
                                    flex: 0 0 30%;
                                    margin-left: 4%;
                                    font-family: barlow;
                                    font-size: 1em;
                                }
                            }
                        }
                    }

                    .rowInscription {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .colInscriptionIdentite,
                        .colInscriptionAdress {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin: 4%;
                            gap: 2%;
                            width: 40%;

                            input {
                                margin-bottom: 2%;
                                width: 100%;
                                font-family: barlow;
                                font-size: 1em;
                                border: white 1px solid;
                                border-radius:10px 40px;
                                background-color: white;

                            }

                            label {
                                font-family: barlow;
                                font-size: 1em;
                            }

                            select{
                                font-family: barlow;
                                font-size: 1em;
                                background-color: white;

                            }
                        }
                    }

                    .littleMessage {
                            font-family: barlow;
                            font-size: 1em;
                            display:flex;
                            flex-direction: column;
                            padding-bottom:2%;
                            #littleMessageText{
                                margin-left:15%;
                                max-width:70%;
                            }

                        }

                    
                    .rowInscriptionButton {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin:2%;
                        gap:2%;

                        .buttonSubmit,
                        .buttonReset {
                            box-shadow: 0 0 20px $roseTitre;
                            background-color: $fondPink;
                            border-radius: 5px;
                            border: none;
                            height: 5vh;
                        }
                    }
                }
            }
        }

        /*******main de la page Mentions légales****/
        .contentMentionsLegales{
            display: flex;
            flex-direction: column;

            h2 {
                font-family: lemonada;
                font-size: 3vw;
                text-align: center;
                color: $roseTitre;
                align-self: center;
                padding-top: 20px;
            }
            .row{
                display: flex;
                flex-direction: row;

                .imgMentionsLegales{
                    width:20vw;
                    flex: 0 0 30%;
                }
                .presentationMentionsLegales{
                    flex: 0 0 60%;
                    p{
                        font-family: barlow;
                        font-size: 1em;
                        line-height: 1.5;
                        text-align: justify;
                        span{
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        /******* main de la Page Login ****/
        .sectionLogin {
            height: 78vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .formLogin {
                width:65%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                fieldset {
                    border: $roseLien solid 3px;
                    border-radius: 10%;
                    margin: 3%;
                    display: flex;
                    flex-direction: column;
                    background-color: $fondGrey;
                    padding:5%;
                    height:20vh;
                    gap:20%;
                    width: 45%;

                    legend {
                        font-family: barlow;
                        font-size: 1.1em;
                        color: $roseTitre;
                        padding: 2% 10%;
                    }

                    .rowLogin {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 5%;

                        input {
                            margin-bottom: 2%;
                            width: 79%;
                            font-family: barlow;
                            font-size: 1em;
                            border: white 1px solid;
                            border-radius:10px 40px;
                            background-color: white;
                            padding-left: 5%;
                        }

                        label {
                            font-family: barlow;
                            font-size: 1em;
                            width: 25%;
                        }

                    }
                }
                   
                .buttonConnexion {
                    align-self: center;
                    box-shadow: 0 0 20px $roseTitre;
                    background-color: $fondPink;
                    border-radius: 5px;
                    border: none;
                    height: 5vh;
                    font-family: barlow;
                    font-size: 1em;


                }

            }
        }
    }
    /******FOOTER*******/
    footer {
        position: fixe;
        bottom: 0;
        background-color: $fondGrey ;
        display: flex;
        justify-content: space-around;
        padding: 15px;
        font-family: Barlow;

        .menuFooter1 {
            flex: 0 0 10%;
            font-size: 14px;
        }

        .menuFooter2 {
            flex: 0 0 10%;
            font-size: 14px;
        }

        .reso {
            flex: 0 0 40%;
            font-size: 18px;
            text-align: center;
        }

        .menuFooter3 {
            flex: 0 0 10%;
            font-size: 14px;
        }
    }

}

/**************************/
/*******media query*******/
/**************************/


/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 490px*/
@media screen and (max-width: 490px) {
    body {
        .responsiveHeader{
            height: 25vh;
            .logoA8D{
                align-self: center;
            }
            h1{
                flex: 0 0 40%;
                font-size:4vw ;
            }
        }
        header {
            justify-content: space-between;
            h1 {
                flex: 0 0 50%;
                align-self: center;
                font-family: lemonada;
                font-size: 6vw;
                text-align: center;
                color: $roseTitre;

                a {
                    color: $roseTitre;

                    span {
                        font-style: italic;
                    }
                }
            }
            .menuFront {
                display: none;

            }                
            .burgerMenu {
                align-self: center;
                visibility: visible;
                color:$roseTitre;
                font-size: 10vw;
            }
            .responsive{
                display:flex;
                ul{
                    display:flex;
                    flex-direction: column;
                    gap:2px;
                    li{
                        a{
                            font-size: 3vw;
                        }
                    }
                }
            }
        }

        /************main*********/
        main {

            /**** content de la page Accueil/présentation ****/
            .content {
                grid-template-columns: 1fr 7fr 1fr;
                grid-template-rows: 20px repeat(5, 10vh) 20px repeat(3, 10vh) 20px repeat(3, 6vh) 20px repeat(3, 10vh) 20px;

                h2 {
                    grid-area: 2/2/3/3;
                    font-size: 6vw;
                }

                .presentationDanses {
                    grid-area: 7/2/10/3;
                    font-size: 3vw;
                }

                .imgAccueil {
                    grid-area: 3/2/6/3;
                }

                .presentationMoi {
                    grid-area: 15/2/18/3;
                    font-size: 3vw;
                }

                .citation {
                    grid-area: 11/2/14/3;

                    figure {
                        blockquote {
                            line-height: 1;

                            .quoteTop {
                                width: 10%;
                            }

                            .citationParagraphes {
                                font-size: 3vw;
                            }

                            .quoteBottom {
                                width: 10%;
                            }
                        }

                        figcaption {
                            font-size: 4vw;

                            cite {
                                font-size: 4vw;
                            }
                        }
                    }
                }
            }

            .danses {
                grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
                grid-template-rows: 0.2fr repeat(3, 1fr 0.2fr);

                .rockDanse {
                    grid-area: 2/2/3/3;
                    a{
                        h4{
                            font-size: 2vw;
                        }
                        img{
                            height:10vh;
                        }
                    }
                }

                .chachaDanse {
                    grid-area: 2/4/3/5;
                    a{
                        h4{
                            font-size: 2vw;
                        }
                        img{
                            height:10vh;
                        }
                    }

                }

                .salsaDanse {
                    grid-area: 4/2/5/3;
                    a{
                        h4{
                            font-size: 2vw;
                        }
                        img{
                            height:10vh;
                        }
                    }

                }

                .rumbaDanse {
                    grid-area: 4/4/5/5;
                    a{
                        h4{
                            font-size: 2vw;
                        }
                        img{
                            height:10vh;
                        }
                    }

                }

                .pasoDanse {
                    grid-area: 6/2/7/3;
                    a{
                        h4{
                            font-size: 2vw;
                        }
                        img{
                            height:10vh;
                        }
                    }

                }

                .groupeDanse {
                    grid-area: 6/4/7/5;
                    a{
                        h4{
                            font-size: 2vw;
                        }
                        img{
                            height:10vh;
                        }
                    }

                }
            }

            /**** content de la page Association ****/
            .contentAssociation {
                grid-template-columns: 1fr 7fr 1fr;
                grid-template-rows: 20px repeat(5, 10vh) 20px repeat(5, 10vh) 20px;

                h2 {
                    grid-area: 2/2/3/3;
                    font-size: 4vw;
                }

                .imgAssociation {
                    grid-area: 3/2/7/3;
                }

                .presentationAssociation {
                    grid-area: 8/2/11/3;
                    font-size: 3vw;
                }
                .presentationAdhérent {
                    grid-area: 11/2/12/3;
                    font-size: 3vw;

                }
            }

            /**** content de la page Danses ****/
            .contentDanses {
                display: flex;
                flex-direction: column; 
                padding: 5%;   
                h2 {
                    grid-area: 2/2/3/3;
                    font-size: 6vw;
                }
                .dansesDuoPresentation {
                    font-size: 2.8vw;
                    h3 {
                        font-size: 3vw;
                    }
                }  
                .dansesGroupePrésentation {
                    order:4;
                    font-size: 2.8vw;
                    h3 {
                        font-size: 3vw;
                    }
                }
            }
            .contentRock,
            .contentChacha,
            .contentSalsa,
            .contentRumba,
            .contentPaso{
                display: flex;
                flex-direction: column;
                .dansesHistoire{
                    p{
                        font-size: 5vw;
                    }
                }
                .dansesPasBaseMenu{
                    .buttonPasBase{
                        font-size: 5vw;
                    }
                }
                
                .dansesPasBase{
                    display: flex;
                    flex-direction:column;
                    margin:5%;
                    .descriptionPasbase{
                        p{
                            font-size: 5vw;
                        } 
                    }
                    .videoPasBase{
                        width:90%;
                        video{
                            width:90vw;
                            align-self: center;
                        }
                    }
                }
            }
            .contentGroupe{
                
            }
    
            /**** content de la page Evenements ****/
            .contentEvent{
                flex-direction: column;
                h2{
                    font-size: 4vw;
                }
                .row{
                    flex-flow: column wrap;
                    margin:2%;
                    .event{ 
                        .affiche{
                            img{
                                margin:3%;
                                width:100px;
                                height:150px;
                            }
                        }
                        .afficheText{
                            h3{
                                font-size: 1.2em;
                            }
                            h5 {
                                font-size: 1em;      
                                font-weight: 600;
                            }                    
                        }
                    }
                }
            }
    
            /**** content de la page Contact ****/
            .sectionContact {
                display: flex;
                flex-direction: column;

                h2 {
                    padding-top: 2%;
                }

                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 10px;
                    padding: 3%;

                    h4 {
                        font-size: 0.8em;
                    }

                    .adresse {
                        align-self: flex-start;
                        column-gap: 20px;
                    }

                    .tel {
                        display: flex;
                        flex-flow: row wrap;
                        gap: 20px;

                        .telProf {
                            flex: 0 0 50%;
                            display: flex;
                            flex-flow: row wrap;
                            column-gap: 5px;

                        }

                        .telPresident {
                            flex: 0 0 80%;
                            display: flex;
                            flex-flow: row wrap;
                            column-gap: 5px;

                        }
                    }
                }

                .formContact {
                    padding-left: 3%;
                }
            }
            /*******Mentions Légales*****/
            .contentMentionsLegales{ 
                .row{
                    .imgMentionsLegales{
                        opacity:30%;
                        flex:0 0 5%;
                        z-index: -10;
                    }

                }
            }
    
        }

        /******FOOTER*******/
        footer {
            .menuFooter1 {
                font-size: 11px;
            }

            .menuFooter2 {
                font-size: 11px;
            }

            .reso {
                font-size: 14px;
            }

            .menuFooter3 {
                font-size: 10px;
            }
        }
    }
}

/*Pour tous les appareils équipés d'écrans et dont la taille est comprise entre 728 et 480px*/
@media screen and (max-width: 728px) and (min-width: 480px) {
    body {
        .responsiveHeader{
            h1{
                font-size: 3vw;
            }
        }
        header {
            justify-content: space-around;
            h1{
                font-size:4vw;
            }
            .menuFront {
                display: none;
            }                
            .burgerMenu {
                visibility: visible;
                color:$roseTitre;
                font-size: 12vw;
            }
            .responsive{
                flex:0 0 60%;
                display:flex;
                ul{
                    flex:auto;
                    display:flex;
                    flex-flow: row wrap;
                    li{
                        a{
                            font-size: 2vw;
                        }
                    }
                }
            }
        }
        /********MAIN*******/
        main {
    
            /******* main de la Page Présentation ****/
    
            .content {
                h2{
                    font-size: 3.5vw;
                }
   
                .presentationDanses {
                    font-size: 2.2vw;
                }
      
                .presentationMoi {
                    font-size: 2.2vw;
                }
    
                .citation {
    
                    figure {
                        blockquote {
                            .citationParagraphes {
                                font-size: 2.2vw;
                            }
    
                        }
    
                        figcaption {
                            cite {
                                font-size: 1.9vw;
                            }
                        }
                    }
                }
            }
            /**** content de la page Association ****/
            .contentAssociation {
                grid-template-columns: 1fr 7fr 1fr;
                grid-template-rows: 20px repeat(5, 10vh) 20px repeat(5, 10vh) 20px;

                h2 {
                    grid-area: 2/2/3/3;
                }

                .imgAssociation {
                    grid-area: 3/2/7/3;
                    img{
                    box-sizing: content-box;
                    }
                }

                .presentationAssociation {
                    grid-area: 8/2/11/3;
                    font-size: 2.2vw;
                }
                .presentationAdhérent {
                    grid-area: 11/2/14/3;
                    font-size: 2.2vw;

                }
            }
        /**** content de la page Evenements ****/
            .contentEvent{
                .row{
                    .event{
                        flex:0 0 80%;
                        .affiche{
                            flex:0 0 30%;
                        }
                        .afficheText{
                            flex: 0 0 50%; 
                        }
                    }
                }
            }
        }
    }
}
/*Pour tous les appareils équipés d'écrans et dont la taille est comprise entre 1024 et 728px*/
@media screen and (max-width: 1024px) and (min-width: 728px) {
    body {
        header {
            justify-content: space-around;
            h1{
                font-size:3vw;
            }
            .menuFront {
                display: none;
            }                
            .burgerMenu {
                visibility: visible;
                color:$roseTitre;
                font-size: 8vw;
            }
            .responsive{
                display:flex;
                ul{
                    flex:auto;

                    display:flex;
                    flex-flow: row wrap;
                }
            }
        }
        /********MAIN*******/
        main {
        
            /******* main de la Page Présentation ****/

            .content {
                h2{
                    font-size: 3.5vw;
                }

                .presentationDanses {
                    font-size: 1.9vw;
                }
    
                .presentationMoi {
                    font-size: 1.9vw;
                }

                .citation {
                    figure {
                        blockquote {
                            .citationParagraphes {
                                font-size: 2.2vw;
                            }
                        }

                        figcaption {
                            cite {
                                font-size: 1.9vw;
                            }
                        }
                    }
                }
            }
            /**** content de la page Evenements ****/
            .contentEvent{
                .row{
                    .event{
                        flex:0 0 45%;
                    }
                }
            }
        }
    }
}

//Une classe pour cacher en ne laissant pas l'espace du container contrairement à hidden
.hidden{
    display: none !important; 
}
//Pour modifier l'apparence d'un bouton
.select{
    box-shadow: 0 0 20px $greyTexte !important; 
    background-color: $fondGrey !important;
}