@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon/icomoon.eot?dhj7ul');
  src:  url('../font/icomoon/icomoon.eot?dhj7ul#iefix') format('embedded-opentype'),
    url('../font/icomoon/icomoon.ttf?dhj7ul') format('truetype'),
    url('../font/icomoon/icomoon.woff?dhj7ul') format('woff'),
    url('../font/icomoon/icomoon.svg?dhj7ul#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quill:before {
  content: "\e907";
}
.icon-music:before {
  content: "\e911";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-phone:before {
  content: "\e942";
}
.icon-map:before {
  content: "\e94b";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-youtube:before {
  content: "\ea9d";
}
