{% extends 'admin.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    <h1>Modifier le membre : {{ user.lastname }} {{ user.firstname }}</h1>

    {{ include('admin_user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_user_index') }}">retour à la liste</a>

    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
