{% extends 'admin.html.twig' %}

{% block title %}Liste des Membres{% endblock %}

{% block body %}
<div class="row align-items-center ">
    <div class="col col-5">
        <h2>Liste des Membres</h2>    
    </div>
    <div class="col col-2">
        {% if is_granted('ROLE_PROF') %}
        <a class="btn btn-primary" href="{{ path('app_admin_user_new') }}">Ajouter un nouveau membre</a>
        {% endif %}
    </div>
</div>
<div class="row align-items-center col col-12">
    <table class="table ">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Anniversaire</th>
                <th>Téléphone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthdayAt ? user.birthdayAt|date('d-m-Y') : '' }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    {% if is_granted('ROLE_PROF') %}
                    <a class="btn btn-primary btn-sm" href="{{ path('app_admin_user_position', {'id': user.id}) }}">Cours</a>
                    {% endif %}
                    {% if is_granted('ROLE_BUREAU') %}
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">Voir</a>
                    {% endif %}
                    {% if is_granted('ROLE_PROF') %}
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Modifier</a>
                    {% endif %}
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
