{% extends 'admin.html.twig' %}

{% block title %}Liste des positions {% endblock %}

{% block body %}
<div class="row align-items-center ">
    <div class="col col-5">
        <h2>Liste des positions pour {{ user.firstname }} {{ user.lastname }}</h2>    
    </div>
    <div class="col col-2">
        {% if is_granted('ROLE_PROF') %}
    <a class="btn btn-primary" href="{{ path('app_admin_user_position_new',{id:user.id}) }}">Ajouter un Cours et une Position</a>
        {% endif %}
    </div>
</div>
<div class="row align-items-center ">
    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Cours</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for position in user.positions %}
            <tr>
                <td>{{ position.position }}</td>                
                <td>{{ position.cours.title }}</td>
                <td>{% if is_granted('ROLE_PROF') %}
                    <a href="{{ path('app_admin_position_edit', {'id': user.id, 'id_position' : position.id}) }}">Modifier</a>
                    {% endif %}</td>
                <td>{% if is_granted('ROLE_PROF') %}
                    {{ include('admin_position/_delete_form.html.twig') }}
                {% endif %}</td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div>
    <a href="{{ path('app_admin_user_index') }}">Retour à la liste</a>
{% endblock %}
