{% extends 'admin.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    <h1>Membre : {{ user.lastname }} {{ user.firstname }}</h1>

    <table class="table col col-10">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            {% if is_granted('ROLE_PROF') %}
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Cours</th>
                <td>{% for position in user.positions %}
                                {{ position.cours.title }}
                                {% endfor %}</td>
            </tr>            
            <tr>
                <th>Position</th>
                <td>{% for position in user.positions %}
                                {{ position.position }}
                                {% endfor %}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.birthdayAt ? user.birthdayAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse 1</th>
                <td>{{ user.adress1 }}</td>
            </tr>
            <tr>
                <th>Adresse 2</th>
                <td>{{ user.adress2 }}</td>
            </tr>
            <tr>
                <th>Code postale</th>
                <td>{{ user.zipCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ user.createdAt ? user.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier le</th>
                <td>{{ user.modifiedAt ? user.modifiedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_user_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Modifier</a>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
