{% extends 'base.html.twig' %}

{% block title %}Aurélia 8 Dancing{% endblock %}

{% block body %}
<div class="content">
    <h2>Présentation</h2>
    <div class="imgAccueil">
        <img src="./media/dance-gdebd934e8_1920.jpg" alt="images de danseurs en duo">
    </div>
    <div class="presentationDanses">
        <p>La danse fait partie de nos vies depuis la nuit des temps. A deux, en groupe ou seul, il existe
            différentes manières de danser. Lors des cours, vous pourrez apprendre differents styles de
            danses sur différents styles de musique. La danse à deux : le rock, la batchata, le chachacha,
            la rumba et bien d'autres. Des fois, nous ne pouvons pas toujours danser à deux mais cela ne
            doit pas vous empêcher de danser. Heureusement, la danse en groupe existe.
            Elle permet de danser sur différents styles musicaux, musette ou moderne</p>
    </div>
    <div class="presentationMoi">
        <p> Je me présente Aurélia, j'enseigne la danse depuis 2019. Après plusieurs années en temps
            qu'éléve, l'association Virevolte de Forcalquier m'a demandé de partager mon savoir. Mais avant
            tout c'est mon amour de la danse que je partage. J'aimerai vous faire découvrir les standards de la
            danse en duo et les nouvelles (plus ou moins) danses en ligne.</p>
    </div>
    <div class="citation">
        <figure>
            <!--citation-->
            <blockquote>
                <img class="quoteTop"
                    src="./media/quotation-mark-top_pixabay_davidglindberg_1280.png">
                <div class="citationParagraphes">
                    <p>La danse est une de mes passions,</p>
                    <p> L’enseigner et la créer : des plaisirs,</p>
                    <p>La partager avec tous : une envie. </p>
                </div>
                <img class="quoteBottom" src="./media/quotation-mark-pixabay_davidglindberg_1280.png">
            </blockquote>
            <figcaption>—Aurélia, <cite>Aurélia 8 dancing</cite></figcaption>
        </figure>
    </div>
</div>
<div class="danses">
    <div class="rockDanse">
        <a href="{{ path('app_front_rock') }}">
            <h4>Rock'n Roll</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-1.png') }}" alt="danse en rock">
        </a>
    </div>
    <div class="chachaDanse">
        <a href="{{ path('app_front_chacha') }}">
            <h4>Chacha</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-3.png') }}" alt="danse en chacha">
        </a>
    </div>
    <div class="salsaDanse">
        <a href="{{ path('app_front_salsa') }}">
            <h4>Salsa</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-11.png') }}" alt="danse en salsa">
        </a>
    </div>
    <div class="rumbaDanse">
        <a href="{{ path('app_front_rumba') }}">
            <h4>Rumba</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en rumba">
        </a>
    </div>
    <div class="pasoDanse">
        <a href="{{ path('app_front_paso') }}">
            <h4>Paso Doble</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-13.png') }}" alt="danse en paso">
        </a>
    </div>
    <div class="groupeDanse">
        <a href="{{ path('app_front_groupe') }}">
            <h4>Groupe</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en groupe">
        </a>
    </div>
</div>
{% endblock %}
