{% extends 'base.html.twig' %}

{% block title %}Aurélia 8 Dancing / Association{% endblock %}

{% block body %}
<div class="contentAssociation">
    <h2>L'association : Virevolte </h2>
    <div class="imgAssociation">
        <img src="{{ asset('./media/couples_pixabay_AMDUMA_1920.jpg') }}" alt="images de danseurs en duo">
    </div>
    <div class="presentationAssociation">
        <p>L’association, créée en juillet 2011 par des amateurs de danse de différents niveaux souhaitant
            progresser dans cette activité, propose aujourd’hui des ateliers de toutes danses tous les jeudis à
            Forcalquier.</p>
        <p>L’association a commencé par l’objectif de développer la danse de salon et la danse en ligne en
            proposant un apprentissage afin d’être à l’aise et de prendre plaisir en dansant selon les
            opportunités (bals, dancings, fêtes locales ou familiales, mariages, etc.) et cela aussi bien en
            danse à deux qu’en danse individuelle.</p>
    </div>
    <div class="presentationAdhérent">
        <p>Une majorité de nos adhérents cumule danse de salon et danse en ligne. La danse en ligne ne
            nécessitant pas de partenaire est donc un avantage pour les personnes seules qui souhaitent se
            divertir sur de la musique. On peut donc répéter les chorégraphies à la maison, sortir en
            soirée.</p>
    </div>
</div>
{% endblock %}
