{% extends 'base.html.twig' %}

{% block title %}Aurélia 8 Dancing / Contact{% endblock %}

{% block body %}
        <section class="sectionContact">
            <h2>Contact</h2>
            <div class="contact">
                <iframe class="carte"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11487.586065677011!2d5.7779654!3d43.9615063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a637e2de68e2af5!2sEcole%20L%C3%A9on%20Espariat!5e0!3m2!1sfr!2sfr!4v1654250204938!5m2!1sfr!2sfr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h4>Aurélia 8 dancing & Virevolte</h4>
                <div class="adresse">
                    <i class="icon-map"></i>
                    <p>Salle Léon Espériat Forcaliquier</p>
                </div>
                <div class="tel">
                    <i class="icon-phone"></i>
                    <div class="telProf">
                        <p> Professeur </p>
                        <p> 06.XX.XX.XX.XX </p>
                        <p> <a href="tel:+625565645">Cliquer pour m'apperler</a> </p>
                    </div>
                    <div class="telPresident">
                        <p> Présidente de l'association </p>
                        <p> 06.XX.XX.XX.XX </p>
                        <p> <a href="tel:+625565646">Cliquer pour m'apperler</a> </p>
                    </div>
                </div>
            </div>
            <form action="contact.php" method="post" class="formContact">
                <fieldset>
                    <legend>Envoyer un message</legend>
                    <div class="row">
                        <label class="legend" for="contact_name">Nom</label>
                        <input class="champsSaisie" type="text" name="contact_name" placeholder="saisir votre nom"
                            required />
                    </div>
                    <div class="row">
                        <label class="legend" for="contact_mail">Email</label>
                        <input class="champsSaisie" type="email" name="contact_mail" placeholder="saisir votre Email"
                            required />
                    </div>
                    <div class="row">
                        <label class="legend" for="contact_sujet">Objet</label>
                        <input class="champsSaisie" type="text" name="contact_sujet" placeholder="saisir l'objet de votre message" />
                    </div>
                    <div class="row">
                        <label class="legend" for="contact_content">Message</label>
                        <textarea class="message" cols="40" rows="15" name="contact_content"
                            placeholder="saisir votre message..." required></textarea>
                    </div>
                    <div class="row">
                        <button class="buttonSubmit" type="submit" value="submit" name="envoi">Envoyer</button>
                        <button type="reset" class="buttonReset" value="reset">Annuler</button>
                    </div>
                </fieldset>
            </form>
        </section>
{% endblock %}
