{% extends 'base.html.twig' %}

{% block title %}Aurélia8Dancing/Groupe{% endblock %}

{% block body %}
<div class="danses">
    <div class="rockDanse">
        <a href="{{ path('app_front_rock') }}">
            <h4>Rock'n Roll</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-1.png') }}" alt="danse en rock">
        </a>
    </div>
    <div class="chachaDanse">
        <a href="{{ path('app_front_chacha') }}">
            <h4>Chacha</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-3.png') }}" alt="danse en chacha">
        </a>
    </div>
    <div class="salsaDanse">
        <a href="{{ path('app_front_salsa') }}">
            <h4>Salsa</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-11.png') }}" alt="danse en salsa">
        </a>
    </div>
    <div class="rumbaDanse">
        <a href="{{ path('app_front_rumba') }}">
            <h4>Rumba</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en rumba">
        </a>
    </div>
    <div class="pasoDanse">
        <a href="{{ path('app_front_paso') }}">
            <h4>Paso Doble</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-13.png') }}" alt="danse en paso">
        </a>
    </div>
    <div class="groupeDanse">
        <a href="{{ path('app_front_groupe') }}">
            <h4>Groupe</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en groupe">
        </a>
    </div>
</div>
<div class="danse contentGroupe hidden">
    <h2>Groupe</h2>
    <div class="dansesHistoire dansesHistoireGroupe hidden">
        <p>La catégorie des danses en groupe (dites "danses en ligne") comprend toutes les danses de groupes pratiquées individuellement, soit l'un derrière l'autre, soit côte à côte, soit encore en deux lignes se faisant face. On trouve des danses en groupe tant parmi les danses traditionnelles que parmi les danses de société ou les danses rock.<p>
        <p>Parmi les exemples de danse en groupe les plus connus, on trouve le madison des années 1960, les danses country appartiennent également à ce style et plus récent la macarena ou le kuduro.
        <p>La danse en groupe est une pratique qui consiste à danser sur des rythmes de rock, rumba, charleston, mambo, valse, tango, slow, cha-cha-cha, reggae, foxtrot, disco, samba, sur des chorégraphies précises, en ligne et sans partenaire.</p>
        <p>Au départ, cette disposition en ligne permettait d'apprendre plus facilement les danses. Ces danses permettent de maintenir une meilleure distanciation physique que les danses en contact. </p>
    </div>
    <div class="dansesPasBaseMenu ">
        <button class="buttonPasBase buttonPasBaseHistoire" type="button" name="Histoire">Histoire de la danse</button>
        <button class="buttonPasBase buttonPasBase1" type="button" name="pasBase1">Pas de Base </button>
    </div>
    <div class="hidden dansesPasBase dansesPasBase1">
        <div class="descriptionPasbase">
            <p> Abréviations: D = Pied DROIT - G = Pied GAUCHE - PC = Poids du Corps</p>
            <table class="pasDeBaseGroupe">
                <thead>         
                    <tr>
                        <th>Mouvement</th>
                        <th>Description</th>
                    </tr>
                </thead>         
                <tbody>         
                    <tr>
                        <td class="mouvement">ACROSS</td>
                        <td>
                            <ul>
                                <li>Mouvement qui traverse la piste de danse.</li>
                                <li>Avancer le pied en croisant devant l'autre pied.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="mouvement">BRUSH</td>
                        <td>
                            <ul>
                                <li>1 MOUVEMENT = 1 TEMPS</li>
                                <li>Brosser le sol avec la plante (= ball) du pied.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="mouvement">BUMP ou HIP BUMP= BALANCEMENT DES HANCHES</td>
                        <td>
                            <ul>
                                <li>1 MOUVEMENT = 1 TEMPS</li>
                                <li>Coup de hanche à droite (avec PC sur D) ou à gauche (avec PC sur G). Le BUMP peut être fait dans les diagonales.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="mouvement">CLAP</td>
                        <td>
                            <ul>
                                <li>1 MOUVEMENT = 1 TEMPS.</li>
                                <li>Taper des mains.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody> 
        </div>
    </div>
</div>
{% endblock %}
