{% extends 'base.html.twig' %}

{% block title %}Aurélia 8 Dancing / Danses{% endblock %}

{% block body %}
<div class="danses">
    <div class="rockDanse">
        <a href="{{ path('app_front_rock') }}">
            <h4>Rock'n Roll</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-1.png') }}" alt="danse en rock">
        </a>
    </div>
    <div class="chachaDanse">
        <a href="{{ path('app_front_chacha') }}">
            <h4>Chacha</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-3.png') }}" alt="danse en chacha">
        </a>
    </div>
    <div class="salsaDanse">
        <a href="{{ path('app_front_salsa') }}">
            <h4>Salsa</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-11.png') }}" alt="danse en salsa">
        </a>
    </div>
    <div class="rumbaDanse">
        <a href="{{ path('app_front_rumba') }}">
            <h4>Rumba</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en rumba">
        </a>
    </div>
    <div class="pasoDanse">
        <a href="{{ path('app_front_paso') }}">
            <h4>Paso Doble</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-13.png') }}" alt="danse en paso">
        </a>
    </div>
    <div class="groupeDanse">
        <a href="{{ path('app_front_groupe') }}">
            <h4>Groupe</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en groupe">
        </a>
    </div>
</div>
<div class="contentDanses">
    <h2>Les differents types de danses</h2>
    <div class="imgDansesDuo">
        <img src="{{ asset('./media/argentinian-tango_pixabay_Bernard-Verougstraete.jpg') }}"
            alt="images de danseurs en duo">
    </div>
    <div class="dansesDuoPresentation">
        <h3>La danse de salon </h3>
        <p> La danse de salon appelée aussi danse de loisirs regroupe différentes danses que l’on retrouve au bal :
            <ul>
                <li>Les danses dites « latines » : rock, cha-cha, rumba, bachata, salsa et samba.</li>
                <li>Les danses dites « standards » : tango, paso-doble, quick step, valse viennoise, valse lente.</li>
            </ul>
    </div>
    <div class="dansesGroupePrésentation">
        <h3>La danse en groupe </h3>
        <p> Le madison et la country sont en général bien identifiés par le public, mais la danse en en groupe ou line dance, est assez peu connue.
            <ul>
                <li>La danse en ligne est un enchaînement de pas, divisé en plusieurs sections de huit contes, écrits pour coller à la musique.</li>
                <li> Notre objectif étant de s’amuser dans les soirées dansantes, nous choisissons comme support musical des rythmes variés comme le rock, le cha-cha, le merengue, la
            rumba, la variété française et internationale. </li>
            </ul>       
    </div>
    <div class="imgDansesGroupe">
        <img src="{{ asset('./media/zumba_pixabay_Andrzej_Rembowski.jpg') }}" alt="images de danseurs en duo">
    </div>
</div>
{% endblock %}
