{% extends 'base.html.twig' %}

{% block title %}Aurélia8Dancing/Rock{% endblock %}

{% block body %}
<div class="danses">
    <div class="rockDanse">
        <a href="{{ path('app_front_rock') }}">
            <h4>Rock'n Roll</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-1.png') }}" alt="danse en rock">
        </a>
    </div>
    <div class="chachaDanse">
        <a href="{{ path('app_front_chacha') }}">
            <h4>Chacha</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-3.png') }}" alt="danse en chacha">
        </a>
    </div>
    <div class="salsaDanse">
        <a href="{{ path('app_front_salsa') }}">
            <h4>Salsa</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-11.png') }}" alt="danse en salsa">
        </a>
    </div>
    <div class="rumbaDanse">
        <a href="{{ path('app_front_rumba') }}">
            <h4>Rumba</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en rumba">
        </a>
    </div>
    <div class="pasoDanse">
        <a href="{{ path('app_front_paso') }}">
            <h4>Paso Doble</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-13.png') }}" alt="danse en paso">
        </a>
    </div>
    <div class="groupeDanse">
        <a href="{{ path('app_front_groupe') }}">
            <h4>Groupe</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en groupe">
        </a>
    </div>
</div>
<div class="danse contentRock  ">
    <h2>Rock'n Roll</h2>
    <div class="dansesHistoire translationLeft ">
        <p>Le rock à six temps est une danse de type rock. En France, le rock à 6 temps est plus répandu par rapport au rock à 4 temps qui reste néanmoins pratiqué dans le nord de l'Europe.
        <p>On danse le rock à 6 temps traditionnellement sur des rythmes rock (marqués par l'alternance de la grosse caisse et de la caisse claire sur 4 temps), même s'il est assez courant de le danser sur des rythmes plus swing (marqués par la prédominance des cymbales) ou boogie. </p>
        <p>Les temps sont marqués par des pas précis. C'est la présence de pas qui permet d'obtenir la force nécessaire à l'exécution de rotation rapides, tout en gardant les membres supérieurs souples.
        Le terme « six temps» correspond à six temps musicaux mais comporte huit appuis2. En effet, les appuis se comptent ainsi : « un, deux, trois et quatre, cinq et six ». Chaque mot (y compris les deux « et ») correspondent à un appui. </p>
    </div>
    <div class="dansesPasBaseMenu ">
        <button class="buttonPasBase buttonPasBaseHistoire" type="button" name="Histoire">Histoire de la danse</button>
        <button class="buttonPasBase buttonPasBase1" type="button" name="pasBase1">Pas de Base 1</button>
        <button class="buttonPasBase buttonPasBase2" type="button" name="pasBase2">Pas de Base 2</button>
        <button class="buttonPasBase buttonPasBase3" type="button" name="pasBase3">Pas de Base 3</button>
        <button class="buttonPasBase buttonPasBase4" type="button" name="pasBase4">Pas de Base 4</button>
    </div>
    <div class="hidden dansesPasBase dansesPasBase1 ">
        <div class="descriptionPasbase">
            <p>Pas de base 1 : Le pas de base est, pour le cavalier (avec entre parenthèses, le comptage sur la musique):</p>
            <ul>
                <li>un rock-step : pied gauche légèrement en arrière, puis pied droit sur place (un-deux) ;</li>
                <li>un chassé vers la gauche : gauche-droite-gauche (trois et quatre) ;</li>
                <li>un chassé vers la droite : droite-gauche-droite (cinq et six).</li>
            </ul>
            <p>Puis on recommence : pied gauche en arrière, etc.</p>
            <p>Pour la cavalière, les pas sont en miroir par rapport au cavalier (rock-step pied droit en arrière, puis droite-gauche-droite, gauche-droite-gauche, etc.)</p>
        </div>
        <div class="videoPasBase">
            <video controls src="{{ asset('./media/danses/Rock en comptes 2.mp4') }}"></video>
        </div>
    </div>
    <div class="hidden dansesPasBase dansesPasBase2 ">
        <div class="descriptionPasbase">
            <p>Pas de base 2 </p>
        </div>
        <div class="videoPasBase">
            <video controls src="{{ asset('./media/danses/Mon Filou _ explications.mp4') }}"></video>
        </div>
    </div>
    <div class="hidden dansesPasBase dansesPasBase3 ">
        <div class="descriptionPasbase">
            <p>Pas de base 3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos non dolor voluptate accusamus voluptates iure mollitia sapiente omnis, corporis quis perspiciatis impedit, provident quam ratione cum error nihil consequuntur. Quibusdam explicabo aliquid veritatis delectus. Aspernatur at, incidunt a suscipit aliquam alias vitae adipisci, magnam iusto corrupti, hic consectetur quidem debitis?</p>
        </div>
        <div class="videoPasBase">
            <video controls src="{{ asset('./media/danses/Honky Tonk Twist explications.mp4') }}"></video>
        </div>
    </div>
    <div class="hidden dansesPasBase dansesPasBase4 ">
        <div class="descriptionPasbase">
            <p>Pas de base 4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos non dolor voluptate accusamus voluptates iure mollitia sapiente omnis, corporis quis perspiciatis impedit, provident quam ratione cum error nihil consequuntur. Quibusdam explicabo aliquid veritatis delectus. Aspernatur at, incidunt a suscipit aliquam alias vitae adipisci, magnam iusto corrupti, hic consectetur quidem debitis?</p>
        </div>
        <div class="videoPasBase">
            <video controls src="{{ asset('./media/danses/All about that bass explications.mp4') }}"></video>
        </div>
    </div>
</div>
{% endblock %}
