{% extends 'base.html.twig' %}

{% block title %}Aurélia 8 Dancing / Danses{% endblock %}

{% block body %}
<div class="danses">
    <div class="rockDanse">
        <a href="{{ path('app_front_rock') }}">
            <h4>Rock'n Roll</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-1.png') }}" alt="danse en rock">
        </a>
    </div>
    <div class="chachaDanse">
        <a href="{{ path('app_front_chacha') }}">
            <h4>Chacha</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-3.png') }}" alt="danse en chacha">
        </a>
    </div>
    <div class="salsaDanse">
        <a href="{{ path('app_front_salsa') }}">
            <h4>Salsa</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-11.png') }}" alt="danse en salsa">
        </a>
    </div>
    <div class="rumbaDanse">
        <a href="{{ path('app_front_rumba') }}">
            <h4>Rumba</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en rumba">
        </a>
    </div>
    <div class="pasoDanse">
        <a href="{{ path('app_front_paso') }}">
            <h4>Paso Doble</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-13.png') }}" alt="danse en paso">
        </a>
    </div>
    <div class="groupeDanse">
        <a href="{{ path('app_front_groupe') }}">
            <h4>Groupe</h4>
            <img src="{{ asset('../media/happy-dancing-people-icons-7.png') }}" alt="danse en groupe">
        </a>
    </div>
</div>
<div class="danse contentRumba ">
    <h2>Rumba</h2>
    <div class="dansesHistoire translationLeft">
        <p>Rumba Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolore, officia ab ullam aut a unde deleniti? Asperiores tempore ipsa ullam nostrum neque aspernatur necessitatibus doloremque eligendi, cumque quibusdam sint dolore nesciunt quos iusto tempora voluptate, dolores, ad illo quaerat excepturi. Necessitatibus laborum eos voluptatum soluta, magnam quia repellat quasi!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolore, officia ab ullam aut a unde deleniti? Asperiores tempore ipsa ullam nostrum neque aspernatur necessitatibus doloremque eligendi, cumque quibusdam sint dolore nesciunt quos iusto tempora voluptate, dolores, ad illo quaerat excepturi. Necessitatibus laborum eos voluptatum soluta, magnam quia repellat quasi!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolore, officia ab ullam aut a unde deleniti? Asperiores tempore ipsa ullam nostrum neque aspernatur necessitatibus doloremque eligendi, cumque quibusdam sint dolore nesciunt quos iusto tempora voluptate, dolores, ad illo quaerat excepturi. Necessitatibus laborum eos voluptatum soluta, magnam quia repellat quasi!
        </p>
    </div>
    <div class="dansesPasBaseMenu ">
        <button class="buttonPasBase buttonPasBaseHistoire" type="button" name="Histoire">Histoire de la danse</button>
        <button class="buttonPasBase buttonPasBase1" type="button" name="pasBase1">Pas de Base 1</button>
        <button class="buttonPasBase buttonPasBase2" type="button" name="pasBase2">Pas de Base 2</button>
        <button class="buttonPasBase buttonPasBase3" type="button" name="pasBase3">Pas de Base 3</button>
        <button class="buttonPasBase buttonPasBase4" type="button" name="pasBase4">Pas de Base 4</button>
    </div>
    <div class="hidden dansesPasBase dansesPasBase1 ">
        <div class="descriptionPasbase">
            <p>Pas de base 1 Rumba Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos non dolor voluptate accusamus voluptates iure mollitia sapiente omnis, corporis quis perspiciatis impedit, provident quam ratione cum error nihil consequuntur. Quibusdam explicabo aliquid veritatis delectus. Aspernatur at, incidunt a suscipit aliquam alias vitae adipisci, magnam iusto corrupti, hic consectetur quidem debitis?</p>
        </div>
        <div class="videoPasBase">
            <video controls src="{{ asset('./media/danses/Rock en comptes 2.mp4') }}"></video>
        </div>
    </div>
    <div class="hidden dansesPasBase dansesPasBase2 ">
        <div class="descriptionPasbase">
            <p>Pas de base 2 Rumba Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos non dolor voluptate accusamus voluptates iure mollitia sapiente omnis, corporis quis perspiciatis impedit, provident quam ratione cum error nihil consequuntur. Quibusdam explicabo aliquid veritatis delectus. Aspernatur at, incidunt a suscipit aliquam alias vitae adipisci, magnam iusto corrupti, hic consectetur quidem debitis?</p>
        </div>
        <div class="videoPasBase">
            <video controls src="{{ asset('./media/danses/Mon Filou _ explications.mp4') }}"></video>
        </div>
    </div>
    <div class="hidden dansesPasBase dansesPasBase3 ">
        <div class="descriptionPasbase">
            <p>Pas de base 3 Rumba Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos non dolor voluptate accusamus voluptates iure mollitia sapiente omnis, corporis quis perspiciatis impedit, provident quam ratione cum error nihil consequuntur. Quibusdam explicabo aliquid veritatis delectus. Aspernatur at, incidunt a suscipit aliquam alias vitae adipisci, magnam iusto corrupti, hic consectetur quidem debitis?</p>
        </div>
        <div class="videoPasBase">
            <video controls src="{{ asset('./media/danses/Honky Tonk Twist explications.mp4') }}"></video>
        </div>
    </div>
    <div class="hidden dansesPasBase dansesPasBase4 ">
        <div class="descriptionPasbase">
            <p>Pas de base 4 Rumba Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos non dolor voluptate accusamus voluptates iure mollitia sapiente omnis, corporis quis perspiciatis impedit, provident quam ratione cum error nihil consequuntur. Quibusdam explicabo aliquid veritatis delectus. Aspernatur at, incidunt a suscipit aliquam alias vitae adipisci, magnam iusto corrupti, hic consectetur quidem debitis?</p>
        </div>
        <div class="videoPasBase">
            <video controls src="{{ asset('./media/danses/All about that bass explications.mp4') }}"></video>
        </div>
    </div>
</div>
{% endblock %}
