{% extends 'base.html.twig' %}

{% block title %}Aurélia 8 Dancing / Evénements{% endblock %}

{% block body %}
<section class="contentEvent">
    <h2>Evenements </h2>
    <div class="row">
        {% for info in infosPublic %}
        <div class="event">
            <div class="affiche">
                <img src="{{ asset('uploads/pictureInfo/' ~info.picture) }}" alt="image de {{ info.title }}" class="img-fluid rounded-start" >
                <legend>créée le {{ info.createdAt ? info.createdAt|date('d-m-Y H:i') : '' }}</small></legend>
            </div>
            <div class="afficheText">
                    <h3>{{ info.title }}</h3>
                    <h5>Le {{ info.eventAt ? info.eventAt|date('d-m-Y H:i') : '' }}</h5>
                    <h6>à {{ info.localisation }}</h6>
                    <p>{{ info.content }}</p>
            </div>
        </div>
        {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
        {% endfor %}
    </div>
</section>
{% endblock %}
