{% extends 'base.html.twig' %}

{% block title %}Aurélia 8 Dancing / Inscription{% endblock %}

{% block body %}
        <section class="sectionInscription">
            <h2>Inscription à l'association</h2>
            <form action="inscription.php" method="post" class="formInscritpion">
                <fieldset>
                    <legend>Inscription</legend>
                    <div class="textInscription">
                        <div> Veuillez remplir ce formulaire. Après reception de votre cotisation auprès du bureau de
                            l'association, vous receverez par mail votre identifiant et un mot de passe provissoire.
                            Les cours se déroule une fois par semaine le <span>jeudi</span> : 19h en groupe et 20h en
                            duo.
                            Les tarifs sont pour une année complète de septembre à juin :
                            <ul>
                                <li>Adhésion à l'association : <span>20€</span></li>
                                <li>1 cours (duo <span>ou</span> groupe) : <span>105€</span></li>
                                <li>2 cours (duo <span>et</span> groupe) : <span>160€</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="rowInscription">
                        <div class="colInscriptionIdentite">
                            <label class="legend" for="user_firstname">Nom</label>
                            <input class="champsSaisie" type="text" name="user_firstname" required />
                            <label class="legend" for="user_lastname">Prénom</label>
                            <input class="champsSaisie" type="text" name="user_lastname" required />
                            <label class="legend" for="user_telephon">Téléphone</label>
                            <input class="champsSaisie" type="text" name="user_telephon" required />
                            <label class="legend" for="user_mail">Email</label>
                            <input class="champsSaisie" type="text" name="user_mail" required />
                            <label class="legend" for="user_date_of-birthday">Date de naissance</label>
                            <input class="champsSaisie" type="text" name="user_date_of" />
                        </div>
                        <div class="colInscriptionAdress">
                            <label class="legend" for="user_adresse1">Adresse 1</label>
                            <input class="champsSaisie" type="text" name="user_adresse1" required />
                            <label class="legend" for="user_adresse2">Adresse 2</label>
                            <input class="champsSaisie" type="text" name="user_adresse2" />
                            <label class="legend" for="user_zip_code">Code Postale</label>
                            <input class="champsSaisie" type="text" name="user_zip_code" required />
                            <label class="legend" for="user_city">Ville</label>
                            <input class="champsSaisie" type="text" name="user_city" required />
                            <label for="typeDanses">Choix du cours</label>
                            <select name="choixCours">
                                <option valeur="groupe">Danse en Groupe</option>
                                <option valeur="duoMeneur">Danse en Duo Meneur</option>
                                <option valeur="duoSuiveur">Danse en Duo Suiveur</option>
                            </select>
                        </div>
                    </div>

                    <fieldset class="littleMessage">
                        <legend>Un petit mot à ajouter </legend>
                        <textarea id="littleMessageText" cols="30" rows="7" name="contact_content"></textarea>
                    </fieldset>
                    <div class="rowInscriptionButton">
                        <button class="buttonSubmit" type="submit" value="submit" name="envoi">Enregistrer</button>
                        <button type="reset" class="buttonReset" value="reset">Annuler</button>
                    </div>

                </fieldset>
            </form>
        </section>
{% endblock %}
