{% extends 'base.html.twig' %}

{% block title %}Aurélia 8 Dancing / Mentions Légales{% endblock %}

{% block body %}
<div class="contentMentionsLegales">
    <h2>Mentions Légales </h2>
    <div class="row">
        <div class="imgMentionsLegales">
            <img src="{{ asset('./media/logoA8D.png') }}" alt="images de danseurs en duo">
        </div>
        <div class="presentationMentionsLegales">
            <p>Aurélia8Dancing professeur de l'association loi 1901 Virevolte a pour objet la promotion de la danse dans toutes ses formes et la créativité artistique ainsi que d’une manière générale le développement des activités de loisirs.</p>
            <p>Le site www.aurelia8dancing.fr propose des informations et des ressources sur la vie de l’association.</p>
            <p>La reproduction ou représentation, intégrale ou partielle, des pages, des données et de tout autre élément constitutif au site, par quelque procédé que ce soit, ne peut être réalisée que par l’autorisation expresse de son propriétaire.</p>
            <p>Aurélia8Dancing et l'association Virevolte s’engagent à respecter la vie privée de ses adhérents et tout autre contact de quelque nature que ce soit et se conforme à la législation sur la protection de la vie privée et des libertés individuelles. Conformément à l’article 27 de la loi Informatique et Libertés du 6 janvier 1978, les adhérents disposent d’un droit d’accès, de rectification ou de suppression concernant les données personnelles que Aurélia8Dancing est amené à recueillir. Ces droits peuvent être exercés en envoyant un courriel au webmaster (aurelia8Dancing@gmail.com)</p>
            <p>Conformément à la délibération n°2010-229 du 10 juin 2010, les traitements automatisés de données à caractère personnel mis en œuvre par des organismes à but non lucratif ne fait pas l’objet de déclaration à la Commission National de l’Informatique et de la Liberté (CNIL).</p>
            <p><span>Propriétaire du site :</span> Aurélia8Dancing</p>
            <p><span>Email :</span> aurelia8Dancing@gmail.com</p>
            <p><span>Responsable de la publication :</span> Aurélia8Dancing et les membres du bureau de l'association.</p>
            <p><span>Création graphique et développement :</span> AuréliaWeb – Webmaster</p>
            <p><span>Hébergeur :</span> </p>
        </div>
    </div>
</div>
{% endblock %}
