
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{asset ('./media/LogoAurelia8Dancing.png')}}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </head>
    <body class="col">
        <header class="row">
            <img class="logoA8D" src="{{asset ('./media/LogoAurelia8Dancing.png')}}" alt="logo Aurélia 8 Dancing">
            <h1>
                <a href="{{ path('homepage') }}">Aurélia <span>8</span> Dancing</a>
            </h1>
            <i class="icon-menu"></i>
            <h3>
                {% if is_granted('ROLE_USER') %}
                <a href="{{path('app_logout') }}">Logout</a>
                {% endif %}
            </h3>

        </header>
        <div class="row">
            <aside class="col col-2 ">
                <!--/.Navbar-->
                <nav class="nav-expand{-sm|-md|-lg|-xl|-xxl}">
                    <ul class="nav flex-column">
                        <li class="nav-item firstMenu">
                            <a href="{{ path('espaceMembre') }}"> 
                            {% if is_granted('ROLE_PROF') %} PROFESSEUR 
                            {% elseif is_granted('ROLE_BUREAU') %} BUREAU 
                            {% elseif is_granted('ROLE_ELEVE') %} ELEVE 
                            {% endif %}</a>
                           <ul class="nav flex-column">
                                {% if is_granted('ROLE_BUREAU') %}
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="{{ path('app_admin_user_index') }}">
                                        <i class="icon-users">Liste des Membres</i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if is_granted('ROLE_ELEVE') %}
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="{{ path('app_admin_choregraphy_index') }}">
                                        <i class="icon-accessibility">Chorégraphies</i>
                                    </a>
                                </li>                                
                                {% endif %}
                                {% if is_granted('ROLE_ELEVE') %}
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="{{ path('app_admin_info_index') }}">
                                        <i class="icon-books">Informations</i>
                                    </a>
                                </li>
                                {% endif %}
                               
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="col col-10">
            {% block body %}
            {% endblock %}
            </main>
        </div>
        <footer class="fixed-bottom">
            <div class="menuFooter1 nav-expand{-sm|-md|-lg|-xl|-xxl}">
                <ul>
                    <li><a href="{{ path('homepage') }}">Présentation</a></li>
                    <li><a href="{{ path('app_front_association') }}">Association</a></li>
                    <li><a href="{{ path('app_front_danses') }}">Danses</a></li>
                </ul>
            </div>
            <div class="menuFooter2">
                <ul>
                    <li><a href="{{ path('app_front_evenements') }}">Evénements</a></li>
                    <li><a href="{{ path('app_front_inscription') }}">Inscription</a></li>
                    <li><a href="{{ path('app_front_contact') }}">Contact</a></li>
                </ul>
            </div>
            {# <div class="reso">
                <h6>Suivez-nous</h6>
                <i class="icon-facebook2"></i>
                <i class="icon-instagram"></i>
                <i class="icon-youtube"></i>
            </div>  #}
            <div class="menuFooter3">
                <ul>
                    <li><a href="{{ path('espaceMembre') }}">Espace Membre</a></li>
                     <li><a href="{{ path('app_front_mentionsLegales') }}">Mentions Légales</a>{#, <a href="./CGU.html">CGU</a>, <a
                            href="./CGV.html">CGV</a> #}</li>
                </ul>
            </div>
    </body>
</html>
