<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Aurélia 8 Dancing!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('./media/LogoAurelia8Dancing.png') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <img class="logoA8D" src="{{ asset('./media/LogoAurelia8Dancing.png') }}" alt="logo Aurélia 8 Dancing">
            <h1><a href="{{ path('homepage') }}">Aurélia <span>8</span> Dancing</a></h1>
            <nav class="menuFront" id="myMenuFront">
                <ul >
                    <li><a href="{{ path('app_front_association') }}">Association</a></li>
                    <li><a href="{{ path('app_front_danses') }}">Danses</a></li>
                    <li><a href="{{ path('app_front_evenements') }}">Evénements</a></li>
                    <li><a href="{{ path('app_front_inscription') }}">Inscription</a></li>
                    <li><a href="{{ path('app_front_contact') }}">Contact</a></li>
                    <li> <a href="{{ path('espaceMembre') }} ">Espace Membre</a></li>
                </ul>
            </nav>
            <i class="icon-menu burgerMenu"></i>
        </header>
        <main>
        {% block body %}{% endblock %}
        </main>
        <footer>
            <div class="menuFooter1">
                <ul>
                    <li><a href="{{ path('homepage') }}">Présentation</a></li>
                    <li><a href="{{ path('app_front_association') }}">Association</a></li>
                    <li><a href="{{ path('app_front_danses') }}">Danses</a></li>
                </ul>
            </div>
            <div class="menuFooter2">
                <ul>
                    <li><a href="{{ path('app_front_evenements') }}">Evénements</a></li>
                    <li><a href="{{ path('app_front_inscription') }}">Inscription</a></li>
                    <li><a href="{{ path('app_front_contact') }}">Contact</a></li>
                </ul>
            </div>
            {# <div class="reso">
                <h6>Suivez-nous</h6>
                <i class="icon-facebook2"></i>
                <i class="icon-instagram"></i>
                <i class="icon-youtube"></i>
            </div> #}
            <div class="menuFooter3">
                <ul>
                    <li><a href="{{ path('espaceMembre') }}">Espace Membre</a></li>
                     <li><a href="{{ path('app_front_mentionsLegales') }}">Mentions Légales</a>{#, <a href="./CGU.html">CGU</a>, <a
                            href="./CGV.html">CGV</a> #}</li>
                </ul>
            </div>
        </footer>
    </body>
</html>
