<form method="post" action="{{ path('app_admin_compte_delete', {'id': compte.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
