{% extends 'admin.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1>Modifier le compte {{ compte.title }}</h1>

    {{ include('admin_compte/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_compte_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_compte/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
