{% extends 'admin.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-10">
            <h1>Liste des Comptes</h1>
        </div>
        <div class="col col-2">
            {% if is_granted('ROLE_PROF') %}
            <a class="btn btn-primary" href="{{ path('app_admin_compte_new') }}">Ajouter</a>
            {% endif %}
        </div>
    </div>
    <div class="col col-12 ">
        <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for compte in comptes %}
                <tr>
                    <td>{{ compte.title }}</td>
                    <td>
                        <a href="{{ path('app_admin_compte_show', {'id': compte.id}) }}">Voir</a>
                        {% if is_granted('ROLE_PROF') %}
                        <a href="{{ path('app_admin_compte_edit', {'id': compte.id}) }}">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune donnée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
</div>    

{% endblock %}
