{% extends 'admin.html.twig' %}

{% block title %}{% if edit %} Editer{% else %}Ajouter{% endif %} Compte{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-8">
            <h3>{% if edit %}Modifier {% else %}Création d'{% endif %}un nouveau Compte</h3>
        </div>
        <div class="col col-2">
            <a href="{{ path('app_admin_compte_index') }}">Retour à la liste</a>
        </div>
        <div class="col col-2">
            {% if edit %}
                {% if is_granted('ROLE_PROF') %}
                {{ include('admin_compte/_delete_form.html.twig') }}
                {% endif %}
            {% else %}
                {% if is_granted('ROLE_PROF') %}
                <a class="btn btn-primary" href="{{ path('app_admin_compte_new') }}">Ajouter</a>
                {% endif %}
            {% endif %}
        </div>        
    </div>
    <div class="col col-6 align-items-center">
        <div class="col col-12">
            {% if edit %}
                {% if is_granted('ROLE_PROF') %}
                {{ include('admin_compte/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
                {% endif %}
            {% else %}
                {% if is_granted('ROLE_PROF') %}
                {{ include('admin_compte/_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
        <div class="col col-5">
            <a href="{{ path('app_admin_compte_index') }}">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}


