{% extends 'admin.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1>Compte {{ compte.title }} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ compte.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_compte_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_compte_edit', {'id': compte.id}) }}">Modifier</a>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_compte/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
