{% extends 'admin.html.twig' %}

{% block title %}Aurélia 8 Dancing{% endblock %}

{% block body %}
<div class="content row">
    {% if is_granted('ROLE_BRUEAU') %}
    <div class="col">
        <div class="row align-items-center ">
            <div class="col col-5">
                <h2>Liste des Membres</h2>    
            </div>
            {% if is_granted('ROLE_BUREAU') %}
            <div class="col col-2">
                <a class="btn btn-primary" href="{{ path('app_admin_user_new') }}">Ajouter Membre</a>
            </div>
            {% endif %}
        </div>
        <div>
            <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Rôles</th>
                        <th>Cours</th>
                        <th>Position</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td>
                            <ul class="d-flex flex-column">
                                <li>{% for position in user.positions %}
                                    {{ position.cours.title }}
                                    {% endfor %}
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul class="d-flex flex-column">
                                <li>{% for position in user.positions %}
                                    {{ position.position }}
                                    {% endfor %}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {% if is_granted('ROLE_BUREAU') %}
                                <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">Voir</a>
                            {% endif %}
                            {% if is_granted('ROLE_PROF') %}
                                <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="16">Aucune donnée trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <div class="col">
        <div class="row align-items-center ">
            <div class="col col-5">
                <h2>Liste des Chorégraphies</h2>    
            </div>
            {% if is_granted('ROLE_PROF') %}
            <div class="col col-2">
                <a class="btn btn-primary" href="{{ path('app_admin_choregraphy_new') }}">Ajouter Chorégraphie</a>
            </div>
            {% endif %}

        </div>
        <div>
            <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Niveau</th>
                        <th>Style</th>
                        <th>Musique</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for choregraphy in choregraphies %}
                    <tr>
                        <td>{{ choregraphy.title }}</td>
                        <td>{{ choregraphy.level }}</td>
                        <td>{{ choregraphy.styles ? choregraphy.styles|json_encode : '' }}</td>
                        {% for music in choregraphy.music %}
                        <td>{{ music.title }}</td>
                        {% endfor %}
                        <td>
                            <a href="{{ path('app_admin_choregraphy_show', {'id': choregraphy.id}) }}">Voir</a>
                            {% if is_granted('ROLE_PROF') %}
                            <a href="{{ path('app_admin_choregraphy_edit', {'id': choregraphy.id}) }}">Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="16">Aucune donnée trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
