<form method="post" action="{{ path('app_admin_info_delete', {'id': info.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette information ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
