{% extends 'admin.html.twig' %}

{% block title %}Info{% endblock %}

{% block body %}
    <h1>Modifier Info {{ info.title }}</h1>

    {{ include('admin_info/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_info_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_BUREAU') %}
    {{ include('admin_info/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
