{% extends 'admin.html.twig' %}

{% block title %}Info index{% endblock %}

{% block body %}
<div class="content d-flex flex-column w-75">
    <div class="row align-items-center ">
        <div class="col col-5">
            <h2>Liste des informations Privées</h2>    
        </div>
        <div class="col col-2">
            <a class="btn btn-primary" href="{{ path('app_admin_info_new') }}">Ajout Info</a>
        </div>
    </div>
    <div class="card-group bg-opacity-10 ">
        {% for info in infosPrivate %}
        <div class="card mb-5 " style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/pictureInfo/' ~info.picture) }}" alt="image de {{ info.title }}" class="img-fluid rounded-start" >
                    <legend class="fs-6"><small class="text-muted">créée le {{ info.createdAt ? info.createdAt|date('d-m-Y H:i') : '' }}</small></legend>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ info.title }}</h5>
                        <p class="card-text">{{ info.content }}</p>
                        <p class="card-text"><small class="text-muted">Le {{ info.eventAt ? info.eventAt|date('d-m-Y H:i') : '' }} à {{ info.localisation }}</small></p>
                        <a class="btn btn-outline-primary  btn-sm" href="{{ path('app_admin_info_show', {'id': info.id}) }}">Lire plus</a>
                        <a class="btn btn-outline-primary  btn-sm" href="{{ path('app_admin_info_edit', {'id': info.id}) }}">Editer</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
    </div>
    <div class="row align-items-center ">
        <div class="col col-5">
            <h2>Liste des informations publiques</h2>    
        </div>
        <div class="col col-2">
            <a class="btn btn-primary" href="{{ path('app_admin_info_new') }}">Ajout Info</a>
        </div>
    </div>
    <div class="card-group">
        {% for info in infosPublic %}
        <div class="card mb-5" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/pictureInfo/' ~info.picture) }}" alt="image de {{ info.title }}" class="img-fluid rounded-start" >
                    <legend class="fs-6"><small class="text-muted">créée le {{ info.createdAt ? info.createdAt|date('d-m-Y H:i') : '' }}</small></legend>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ info.title }}</h5>
                        <p class="card-text">{{ info.content }}</p>
                        <p class="card-text"><small class="text-muted">Le {{ info.eventAt ? info.eventAt|date('d-m-Y H:i') : '' }} à {{ info.localisation }}</small></p>
                        <a class="btn btn-outline-primary  btn-sm" href="{{ path('app_admin_info_show', {'id': info.id}) }}">Lire plus</a>
                        <a class="btn btn-outline-primary  btn-sm" href="{{ path('app_admin_info_edit', {'id': info.id}) }}">Editer</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
    </div>
</div>

{% endblock %}
