{% extends 'admin.html.twig' %}

{% block title %}Info{% endblock %}

{% block body %}
    <h1>Info</h1>
    <div class="row">
        <img class="col col-5" src="{{ asset('uploads/pictureInfo/' ~info.picture) }}" alt="image de {{ info.title }}"/></td>
        <div class="col col-6">
            <table class="table ">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td>{{ info.title }}</td>
                    </tr>
                    <tr>
                        <th>Localisation</th>
                        <td>{{ info.localisation }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ info.eventAt ? info.eventAt|date('d-m-Y H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ info.content }}</td>
                    </tr>
                    <tr>
                        <th>Créée le </th>
                        <td>{{ info.createdAt ? info.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Modifié le</th>
                        <td>{{ info.modifiedAt ? info.modifiedAt|date('d-m-Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Publié le</th>
                        <td>{{ info.publicationAt ? info.publicationAt|date('d-m-Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Type d'information</th>
                        <td>{{ info.public ? 'Public' : 'Privée' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="{{ path('app_admin_info_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_info_edit', {'id': info.id}) }}">Modifier</a>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_info/_delete_form.html.twig') }}    
    {% endif %}

{% endblock %}
