<form method="post" action="{{ path('app_admin_choregraphy_delete', {'id': choregraphy.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette chorégraphie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ choregraphy.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
