{% extends 'admin.html.twig' %}

{% block title %}Choregraphie{% endblock %}

{% block body %}
    <h1>Modifier la Choregraphie {{ choregraphy.title }}</h1>

    {{ include('admin_choregraphy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_choregraphy_index') }}">retour à la liste</a>
    
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_choregraphy/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
