{% extends 'admin.html.twig' %}

{% block title %}Choregraphie{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="col">
        <div class="row align-items-center ">
            <div class="col col-5">
                <h2>Liste des chorégraphies</h2>    
            </div>
            <div class="col col-2">
                {% if is_granted('ROLE_PROF') %}
                <a class="btn btn-primary" href="{{ path('app_admin_user_new') }}">Ajouter</a>
                {% endif %}            
            </div>
        </div>
        <div class="col col-12 ">
            <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Nom du Chorégraphe</th>
                        <th>Niveau</th>
                        <th>Style</th>
                    </tr>
                </thead>
                <tbody>
                {% for choregraphy in choregraphies %}
                    <tr>
                        <td>{{ choregraphy.title }}</td>
                        <td>{{ choregraphy.nameChoregraph }}</td>
                        <td>{{ choregraphy.level }}</td>
                        <td>{{ choregraphy.styles ? choregraphy.styles|json_encode : '' }}</td>

                        <td>
                            {% if is_granted('ROLE_PROF') %}
                            <a class="btn btn-warning" href="{{ path('app_admin_choregraphy_section', {'id': choregraphy.id}) }}">Sections</a>
                            {% endif %}
                            {% if is_granted('ROLE_PROF') %}
                            <a class="btn btn-warning" href="{{ path('app_admin_choregraphy_music', {'id': choregraphy.id}) }}">Musiques</a>
                            {% endif %}
                            {% if is_granted('ROLE_ELEVE') %}
                            <a href="{{ path('app_admin_choregraphy_show', {'id': choregraphy.id}) }}">Voir</a>
                            {% endif %}
                            {% if is_granted('ROLE_PROF') %}
                            <a href="{{ path('app_admin_choregraphy_edit', {'id': choregraphy.id}) }}">Modifier</a>
                            {% endif %}
                            {% if is_granted('ROLE_PROF') %}
                            <a href="{{ path('app_admin_choregraphy_delete', {'id': choregraphy.id}) }}">Supprimer</a>
                            {% endif %}                
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="14">Aucune donnée trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>    
</div>    

{% endblock %}
