{% extends 'admin.html.twig' %}

{% block title %}Liste des musiques {% endblock %}

{% block body %}
<div class="row align-items-center ">
    <div class="col col-5">
        <h2>Liste des musiques pour {{ choregraphy.title}}</h2>    
    </div>
    <div class="col col-2">
        {% if is_granted('ROLE_PROF') %}
    <a class="btn btn-primary" href="{{ path('app_admin_choregraphy_music_new',{id:choregraphy.id}) }}">Ajouter une Musique</a>
        {% endif %}
    </div>
</div>
<div class="row align-items-center ">
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Artiste</th>
            </tr>
        </thead>
        <tbody>
        {% for music in choregraphy.music %}
            <tr>
                <td>{{ music.title }}</td>
                <td>{{ music.artist }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div>
<a href="{{ path('app_admin_choregraphy_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_choregraphy_edit', {'id': user.id}) }}">Modifier</a>
    {% endif %}

{% endblock %}
