{% extends 'admin.html.twig' %}

{% block title %}Liste des sections {% endblock %}

{% block body %}
<div class="row align-items-center ">
    <div class="col col-5">
        <h2>Liste des sections pour {{ choregraphy.title }}</h2>    
    </div>
    <div class="col col-2">
        {% if is_granted('ROLE_PROF') %}
    <a class="btn btn-primary" href="{{ path('app_admin_choregraphy_section_new',{id:choregraphy.id}) }}">Ajouter une Section</a>
        {% endif %}
    </div>
</div>
<div class="row align-items-center ">
    <div class="col">
        {% for section in choregraphy.section %}
        <h2>{{ section.title }}</h2>
        <div class="row align-items-center ">
            <table class="table">
                        {% for description in section.description %}
                    <tr>
                        <td>{{ description.compte.title }}</td>
                        <td>{{ description.description }}</td>                 
                    </tr>
                        {% endfor %}                         
            </table>
        </div>
        {% endfor %}
                        <td>{% if is_granted('ROLE_PROF') %}
                    <a href="{{ path('app_admin_section_edit', {'id': section.id}) }}">Modifier</a>
                    {% endif %}</td>
    </div>
</div>
{% endblock %}
