{% extends 'admin.html.twig' %}

{% block title %}{% if edit %} Editer{% else %}Ajouter{% endif %} Choregraphie{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-8">
            <h1>{% if edit %}Modifier {% else %}Création d'{% endif %}une nouvelle Choregraphie</h1>
        </div>
        <div class="col col-2">
            <a href="{{ path('app_admin_choregraphy_index') }}">Retour à la liste</a>
        </div>
        <div class="col col-2">
            {% if edit %}
                {{ include('admin_choregraphy/_delete_form.html.twig') }}
            {% else %}
                <a class="btn btn-primary" href="{{ path('app_admin_choregraphy_new') }}">Ajouter</a>
            {% endif %}
        </div>
    </div>
    <div class="col col-6 align-items-center">
        <div class="col col-12">
            {% if edit %}
                {{ include('admin_choregraphy/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
            {% else %}
                {{ include('admin_choregraphy/_form.html.twig') }}
            {% endif %}
        </div>
        <div class="col col-5">
            <a href="{{ path('app_admin_choregraphy_index') }}">Retour à la liste</a>
        </div>
    </div>
</div>    
{% endblock %}