{% extends 'admin.html.twig' %}

{% block title %}Choregraphy{% endblock %}

{% block body %}
    <h1>{{ choregraphy.title }}</h1>
<div class="row">
    <table class="col col-4 InfoChoré">
        <tbody>
            <tr>
                <th>Nom du Chorégraphe</th>
                <td>{{ choregraphy.nameChoregraph }}</td>
            </tr>
            <tr>
                <th>Nb de Compte</th>
                <td>{{ choregraphy.nbCompte }}</td>
            </tr>
            <tr>
                <th>Nb de Murs</th>
                <td>{{ choregraphy.nbWall }}</td>
            </tr>
            <tr>
                <th>Nb de Section</th>
                <td>{{ choregraphy.nbSection }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ choregraphy.level }}</td>
            </tr>
        </tbody>
    </table>
    <div class="col col-4">
    </div>
    <table class="col col-4 InfoDate">
        <tbody>
            <tr>
                <th>Créée le </th>
                <td>{{ choregraphy.createdAt ? choregraphy.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ choregraphy.modifiedAt ? choregraphy.modifiedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Publié le</th>
                <td>{{ choregraphy.publicationAt ? choregraphy.publicationAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    {% for section in choregraphy.section%}
    <h6>Section : {{ section.title }}</h6>
    <table class="col col-12 table table-primary">
        {# {% for description in choregraphy.section.description %}
            <tr>
                <td>{{ description.compte.title }}</td>                
                <td>{{ description.description }}</td>
            </tr>
        {% endfor %} #}
    </table>
    {% endfor %}
</div>
<div>
    <h6>Remarque</h6>
    <p>{{ choregraphy.remarque }}</p>
</div>
<div class="videoChore">
    <video controls src="{{ asset('{{ choregraphy.video }}') }}"></video>
</div>        

    <a href="{{ path('app_admin_choregraphy_index') }}">Retour à la liste</a>
{% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_choregraphy_edit', {'id': choregraphy.id}) }}">Modifier</a>
{% endif %}
{% if is_granted('ROLE_PROF') %}
    {{ include('admin_choregraphy/_delete_form.html.twig') }}
{% endif %}
{% endblock %}
