<form method="post" action="{{ path('app_admin_music_delete', {'id': music.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette musique ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ music.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
