{% extends 'admin.html.twig' %}

{% block title %}Musique{% endblock %}

{% block body %}
    <h1>Modifier la musique {{ music.title }}</h1>

    {{ include('admin_music/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_music_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_music/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
