{% extends 'admin.html.twig' %}

{% block title %}Musiques{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-10">
            <h1>Liste des Musiques</h1>
        </div>
        <div class="col col-2">
            {% if is_granted('ROLE_PROF') %}
            <a class="btn btn-primary" href="{{ path('app_admin_music_new') }}">Ajouter</a>
            {% endif %}
        </div>
    </div>
    <div class="col col-12 ">
        <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Intro</th>
                    <th>Style</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for music in music %}
                <tr>
                    <td>{{ music.title }}</td>
                    <td>{{ music.artist }}</td>
                    <td>{{ music.intro }} comptes</td>
                    <td>{{ music.styles ? music.styles|json_encode : '' }}</td>
                    <td>
                        <a href="{{ path('app_admin_music_show', {'id': music.id}) }}">Voir</a>
                        {% if is_granted('ROLE_PROF') %}
                        <a href="{{ path('app_admin_music_edit', {'id': music.id}) }}">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune donnée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
</div>    

{% endblock %}
