{% extends 'admin.html.twig' %}

{% block title %}Music{% endblock %}

{% block body %}
    <h1>Music</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ music.title }}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{ music.artist }}</td>
            </tr>
            <tr>
                <th>Intro</th>
                <td>{{ music.intro }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_music_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_music_edit', {'id': music.id}) }}">Modifier</a>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_music/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
