<form method="post" action="{{ path('app_admin_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce contact ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
