{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
    <h1>Edit Contact</h1>

    {{ include('admin_contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_contact_index') }}">retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_contact/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
