{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-10">
            <h1>Liste des Contacts</h1>
        </div>
    </div>
    <div class="col col-12 ">
        <table class="table table-hover table-responsive{-sm|-md|-lg|-xl} text-center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Sujet</th>
                    <th>Message</th>
                    <th>Crée le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.mail }}</td>
                    <td>{{ contact.sujet }}</td>
                    <td>{{ contact.content }}</td>
                    <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_admin_contact_show', {'id': contact.id}) }}">Voir</a>
                        {% if is_granted('ROLE_PROF') %}
                        <a href="{{ path('app_admin_contact_edit', {'id': contact.id}) }}">Modifier</a>
                        {% endif %}                   
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucune donnée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
</div>  
{% endblock %}
