{% extends 'base.html.twig' %}

{% block title %}{% if edit %} Editer{% else %}Ajouter{% endif %} Contact{% endblock %}

{% block body %}
<div class="content d-flex flex-column align-items-center">
    <div class="row align-items-center ">
        <div class="col col-8">
            <h3>{% if edit %}Modifier {% else %}Création d'{% endif %}un nouveau Contact</h3>
        </div>
        <div class="col col-2">
            <a href="{{ path('app_admin_contact_index') }}">Retour à la liste</a>
        </div>
        <div class="col col-2">
            {% if edit %}
                {{ include('admin_contact/_delete_form.html.twig') }}
            {% else %}
                {% if is_granted('ROLE_PROF') %}
                <a class="btn btn-primary" href="{{ path('app_admin_contact_new') }}">Ajouter</a>
                {% endif %}
            {% endif %}
        </div>        
    </div>
    <div class="col col-6 align-items-center">
        <div class="col col-12">
            {% if edit %}
            {{ include('admin_contact/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
            {% else %}
            {{ include('admin_contact/_form.html.twig') }}
            {% endif %}
        </div>
        <div class="col col-5">
            <a href="{{ path('app_admin_contact_index') }}">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}