{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ contact.mail }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ contact.sujet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.content }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ contact.createdAt ? contact.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_admin_contact_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_PROF') %}
    <a href="{{ path('app_admin_contact_edit', {'id': contact.id}) }}">Modifier</a>
    {% endif %}
    {% if is_granted('ROLE_PROF') %}
    {{ include('admin_contact/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
